[2013-12-09 07:51] pyr opened #1 "allow choosing resolution by path regexp"
The configuration should allow specifying alternate rollup strategies based on path regexes

[2013-12-09 07:52] pyr opened #2 "Support carbon's shorthand notation for rollup periods"
carbon's storage-schemas.conf supports one letter suffixes for periods, such as 7d, 1m, y, it would make migration easier when supporting this

[2013-12-09 07:54] pyr opened #3 "Add a statsd input"
It would not take much to have a statsd listener in addition to the carbon one, our
storage schema in cassandra makes the listener part stateless, which is a nice addition

[2013-12-09 08:01] pyr opened #4 "add a leiningen target to build a debian package"
Building debian packages from leiningen would make distribution far easier.

[2013-12-09 10:05] pyr opened #5 "add carbon udp support"

[2013-12-10 21:04] #4 closed, assigned to pyr

[2014-01-28 14:18] johntdyer opened #8 "Why?"
Hello,

 Sorry for the subject, I figured it would be eye catching ;).  So I have a question, this project is intriguing but I am curious why it exists?  What problem are you solving, and how well are you solving it ?  If this a performance issue, and if so what sort of improvements have you seen ?  Thanks, and looking forward to hearing from you .

-John

[2014-01-28 14:33] johntdyer opened #9 "Why?"
Hello,

 Sorry for the subject, I figured it would be eye catching ;).  So I have a question, this project is intriguing but I am curious why it exists?  What problem are you solving, and how well are you solving it ?  If this a performance issue, and if so what sort of improvements have you seen ?  Thanks, and looking forward to hearing from you .

-John

[2014-01-28 14:33] #9 closed, assigned to nobody

[2014-01-29 06:35] #8 closed, assigned to pyr

[2014-02-21 01:29] johntdyer opened #10 "Support for mainline Graphite UI"
Hello,

   Can you explain why we have to use the fork of GraphiteUI rather then origin ?   I see mention of this project in the graphite docs ( http://graphite.readthedocs.org/en/latest/storage-backends.html ) so is that still a requirement ?

-John

[2014-02-21 14:00] #10 closed, assigned to nobody

[2014-02-24 10:34] ghost opened #12 "[ Webservice ]. Cassandra has data but API does not response result."
Dear,
I setup cyanite and it works ok when i push some metrics. But when i push so many data in 2, 3 days, cyanite not display new metrics on graphite web. So i restart cyanite and all metrics not display on graphite-web. I check cyanite API: http://10.30.12.133:8080/paths?query=*, result = [] , fletch data : http://10.30.12.133:8080/metrics?path=UP_ZME_Test_30_14_10_30_12_42.loadavg.1min&from=139

[2014-02-26 16:48] rvrignaud opened #13 "cyanite does not support urlencoded params"
Hello,
https://github.com/brutasse/graphite-cyanite/blob/master/cyanite.py#L36 urlencode parameters (like '*').
Cyanite reply empty body when query.pattern is urlencoded and django crashes.

cheers,

[2014-02-26 16:59] rvrignaud opened #14 "Can't fetch data from graphite-web to cyanite"
When querying from graphite-web to cyanite I get the following stacktrace :

[code]

[2014-03-05 18:15] addisonj opened #15 "What's missing in comparison to carbon and "production ready"?"
In looking over the documentation and README, its not clear to me what functionality cyanite has in comparison to carbon.

I was able to get it going yesterday along with graphite-web and everything seems to be working (and its pretty awesome so far), but its murky whether the rollup and pruning functionality is already working. In other words, what maintenance should I expect to have to do?

Also

[2014-03-09 17:18] neilprosser opened #16 "High CPU usage and no metrics"
I'm using the latest (as of now) clone of Cyanite and Cassandra 2.0.5 on a single node. I've created the metric namespace by doing `bin/cqlsh < doc/schema.cql` and cyanite has been packaged using leiningen 2.3.4.

When I start up cyanite using the configuration given in `README.md` I can see it using a large amount of CPU and after I've sent metrics to it using `echo "test.metric $RANDOM `date +%s

[2014-03-11 15:38] #16 closed, assigned to nobody

[2014-03-11 15:38] #15 closed, assigned to nobody

[2014-03-17 11:12] neilprosser opened #19 "Value out of range for int"
With the following `cyanite.yaml`...

[code]

... my intention was to try and match these retentions (hopefully I've got the right idea):

`retentions = 15s:6h,1m:72h,5m:2w,10m:1y,1h:3y`

However, I get the following exception while sending data to cyanite:

[code]

Looking at the number `18921600000` (which is `31536000 * 600`) does setting `:values` in `store.clj:154` need to have more `long`s i

[2014-03-23 21:04] #19 closed, assigned to nobody

[2014-03-25 17:31] #2 closed, assigned to pyr

[2014-03-26 10:27] neilprosser opened #22 "Path DB update fails"
I think it's possible that an exception while attempting to update `path-db` in `store.clj` can stop the whole process from continuing.

If I replace `update-path-db-every` with:

[code]

... I get:

[code]

I think the actual exception is my problem - not sure whether my Cassandra setup is working properly (this is my first time playing with Cassandra). Though it could be an issue with the number

[2014-03-26 17:06] neilprosser opened #23 "Messages since library updates"
Seeing a lot of this since 470ab3979a5de7c1e435d42be3b8378ccc9771bc (multiple times a minute):

[code]

Also seeing this:

[code]

... on `stdout` at startup.

Should mention that I'm using Cassandra `2.0.6`.

[2014-03-26 17:12] neilprosser opened #24 "Query execution failed"
Just doing a `/metrics` request for something which exists (although I've tweaked the name in the log message below) with a `from` querystring parameter gives `Query execution failed` in the response error message and the following entry in `cyanite.log`:

[code]

It's Cassandra `2.0.6`.

[2014-03-26 17:12] #14 closed, assigned to nobody

[2014-03-28 13:08] #12 closed, assigned to nobody

[2014-03-28 13:08] #22 closed, assigned to nobody

[2014-03-28 13:10] pyr opened #25 "Move to a different way of storing metric paths"
Paths should be indexed with a different mechanism than cassandra, for fast queries

[2014-04-02 15:40] feangulo opened #26 "Scaling Recommendations"
Currently, we use a series of carbon processes to handle all of our metrics. We have "relays" and "caches" and we have to spin up multiple of these processes to take advantage of the cores in the server.

In preparing cyanite to receive a subset of our production metrics (~1M per minute), do you recommend I follow the same pattern of multiple processes? Is there some benchmark of how many metrics

[2014-04-02 15:44] feangulo opened #27 "Internal Metrics"
When a carbon process is spun up, it reports a bunch of useful metrics that can be used to monitor the health of the process (see screenshot for a few).

Does a cyanite process expose any of its internal metrics?

![screen shot 2014-04-02 at 11 42 23 am](https://cloud.githubusercontent.com/assets/5490207/2593196/838471be-ba7d-11e3-9d0c-8592e0ad7f6d.png)

[2014-04-03 07:04] #23 closed, assigned to nobody

[2014-04-03 07:08] #13 closed, assigned to nobody

[2014-04-03 07:32] #26 closed, assigned to nobody

[2014-04-08 04:11] feangulo opened #28 "Problems with Cassandra"
Using Cassandra version 2.0.6

I start up graphite-api, cyanite and apache-cassandra. I start sending metrics from a DropWizard application and within minutes my Cassandra process dies. Just trying to find out if you are aware of any issues writing to Cassandra.

Sometimes I am able to write metrics for a few minutes, other times the crash is more immediate.

In Cassandra:

[code]

In Cyanite:

[c

[2014-04-13 00:38] ssabnis opened #29 "Error when starting the cyanite"
Received this error when starting the Cyanite

ERROR [2014-04-12 17:34:44,381] clojure-agent-send-off-pool-0 - org.spootnik.cyanite.store - could not update path database
clojure.lang.ExceptionInfo: Query execution failed {:values nil, :query #<SimpleStatement SELECT distinct tenant, path, rollup, period from metric;>, :type :qbits.alia/execute, :exception #<SyntaxError com.datastax.driver.core.ex

[2014-04-18 21:51] daledude opened #30 "Unable to bind to port"
After killing the cyanite process it will take a very long time before starting it again will not produce this below error. There are no other running instances and no other processes listening on tcp 2003.

[code]

[2014-04-28 06:50] #25 closed, assigned to pyr

[2014-04-28 06:53] #29 closed, assigned to nobody

[2014-04-28 06:54] #30 closed, assigned to nobody

[2014-04-29 01:03] addisonj opened #33 "in memory metric store not being updated"
Using latest master, it looks as if the in memory metric store no longer fills its cache from the DB.

Specifically, the `update-path-db-every` looks like its gone?

I see how the path store is used for new metrics, but I have a cyanite process for reads only that won't get any paths.

Any ideas on this one? (I realize this might still be work in progress stuff, just trying to figure out the direc

[2014-04-29 01:15] addisonj opened #34 "Poor performance when retrieving metrics on large dataset"
When retrieving metrics the response time is quite slow.

I have about 8 million metrics, each one being updated about once every 60 seconds. This come out to about 600 writes/sec according to opscenter with average write latencies significantly less than 1 ms, the cassandra clusters seems to have no trouble keeping up.

However, when hitting the API endpoint with a request that retrieves the last

[2014-05-08 00:01] #33 closed, assigned to nobody

[2014-05-14 01:38] ssabnis opened #38 "Error when starting the cyanite"
I use the following command to start
sudo java -jar cyanite/target/cyanite-0.1.0.jar -f /etc/cyanite.yaml

I get the following errors

Exception in thread "main" clojure.lang.ExceptionInfo: Query prepare failed {:query "UPDATE metric USING TTL ? SET data = data + ? WHERE tenant = '' AND rollup = ? AND period = ? AND path = ? AND time = ?;", :type :qbits.alia/prepare-error, :exception #<SyntaxError

[2014-05-27 15:00] #38 closed, assigned to nobody

[2014-06-30 17:11] pdolan opened #39 "Constant high CPU usage"
Hi there,

Currently working with a carbon relay receiving about 1.2million metrics per minute.

For testing purposes, have deployed a two node cassandra cluster with each cassandra node having a cyanite process attempting to write metrics. This setup seems to function fine when I throw some simple stress-test metrics at it.

However, when I direct a portion of our production metrics at the cluste

[2014-07-01 11:32] #39 closed, assigned to nobody

[2014-07-01 15:44] tcoupland opened #40 "Very divergent performance angled fork"
I've got a very divergent fork going that i've been working on for some time to improve performance. Some highlights from the changes are:
- ES path lookup to query for complete paths before breaking them down for creation.
- ES requests to batch versions and to use http-kit for async requests.
- Casandra updates are now done in asynchronous prepared batches.
- String processing has been improved.

[2014-07-04 18:46] chjohnst opened #42 "Add kafka support"
I think this would bring cyanite closer to the features of carbon with the exception of python pickle format.  We are looking at use cases of sending data to brokers to fan out messaging to several cyanite instances.

[2014-07-11 21:38] toni-moreno opened #43 "Basic metric administracion with cyanite-cassandra?"
Hi, I'm testing cyanite and evaluating how difficult can be administration of this graphite backend vs the default carbon-whisper system.

I would like to know hot to do some basic things with metrics.

a) rename metrics which matches a pattern.
b) delete metrics which matches a pattern.
c) change roll-up global roll-up aggregation without affect the current data.

But when trying to do a simple q

[2014-07-12 21:35] adnane- opened #44 "loosing metrics."
I recently have lots of lost metrics when rendering data from graphite-api or grafana.

http://graphite-api:8000/render?target=collectd.server.memory.memory-used&from=-1h

![cyanite-data-losr](https://cloud.githubusercontent.com/assets/7196057/3562832/06b750be-0a0c-11e4-8c27-507434b42f0a.png)

the lost rate is higher for recent metrics then for older.

I also noticed that the lost happens when I h

[2014-07-14 12:04] dene14 opened #45 "TTL for metric tree objects (ElasticSearch)"
There is planned to set/update TTLs in ES, however after recent patch https://github.com/pyr/cyanite/pull/36 'index/present' used to avoid excessive updates. This logic breaks an ability to maintain tree objects' TTLs properly.

Any ideas on how to maintain tree index now?

[2014-07-28 22:07] tmonk42 opened #46 "Rollups Clarification"
So my test cluster has been filling up it's disks at a rate MUCH higher than I expected. I went digging to see how the data was actually being stored in Cassandra. I was pretty surprised when I saw that the lower resolution "rollups" were simply a row with an array, "data", that contains every single value for that path during the time period. i.e.:
Given sending stats every 10s (i.e.: with statsd

[2014-08-07 03:21] ssabnis opened #47 "Help in Rollup Def"
I am new to Carbon/Cyanite, I am trying to understand the meaning of rollups settings

  rollups:
    - period: 60480
      rollup: 10
    - period: 105120
      rollup: 600

What does the 105120/600 means , I appreciate any help on this,

Thanks

[2014-09-05 07:38] ctavan opened #48 "pickle receiver support?"
I am currently running a carbon-relay -> carbon-aggregator -> carbon-cache setup and since carbon-cache performs poor I am looking into alternative backends.

To be able to use cyanite as a carbon-cache replacement it needs to accept metrics in as python pickles since this is how carbon-aggregator forwards metrics to carbon-cache.

I have found your interesting blog-post [1] about the python pickl

[2014-09-05 07:42] ctavan opened #49 "Import existing whisper files?"
Is there already a way to import existing whisper files into cyanite? I guess it would make cyanite an even more attractive alternative if there was a way to migrate an existing carbon deployment.

If it is not possible yet would you mind pointing out how an import could be acchieved? I suppose it should be fairly easy to write a python script that uses whisper to read and decode the whisper files

[2014-09-05 08:15] #49 closed, assigned to nobody

[2014-09-05 08:19] #47 closed, assigned to nobody

[2014-09-05 08:20] #46 closed, assigned to nobody

[2014-09-05 08:22] #24 closed, assigned to pyr

[2014-09-05 08:22] #28 closed, assigned to nobody

[2014-09-05 08:25] #44 closed, assigned to nobody

[2014-09-05 08:25] #34 closed, assigned to nobody

[2014-09-05 08:39] #40 closed, assigned to nobody

[2014-09-05 08:49] #43 closed, assigned to nobody

[2014-09-10 12:58] bragonznx opened #51 "How to erase metric from an host in cassandra"
Can you explain in your documentation how to erase all the metric of an host ?
We need this information, when we shut an server and want to clean the database.

[2014-09-12 20:48] ajazam opened #52 "Can't build cyanite"
Hello I'm getting the following during my build

(Could not transfer artifact org.apache.httpcomponents:httpcore:pom:4.3.2 from/to central (http://repo1.maven.org/maven2/): Checksum validation failed, could not read expected checksum: Failed to transfer file: http://repo1.maven.org/maven2/org/apache/httpcomponents/httpcore/4.3.2/httpcore-4.3.2.pom.sha1. Return code is: 500 , ReasonPhrase:Domain No

[2014-09-15 17:33] jpotter opened #53 "How to set cassandra hosts and port?"
Hi,

I'm not seeing how to set the cassandra hosts and port for cyanite to connect to. When I try running cyanite with cluster set to anything other than an IP address (e.g. either host:port or host,host), it fails; and attempting to give cluster a list of hosts, yaml style, also fails.

Thanks,
Jeff

[2014-09-18 01:44] ssabnis opened #54 "Scaling Cyanite"
How can I run multiple instances of Cyanite on the same machine with different settings. What configurations that I need to be aware of. Also I am using codahale in the code to publish metrics. I am using Graphite publisher. Do anyone have experience in configuring the multiple Cyanite/graphite in the codehale graphite publisher.

Thanks in advance.

[2014-09-19 09:46] ricardmestre opened #55 "Questions about Cyanite features"
Hi, we are working with the system Graphite-Cyanite-Cassandra, comparing it with other systems like Influxdb or Carbon-Whisper. We would like to know some features about Cyanite:

-There is any maximum in the temporal retention in the rollups? Days, months, years?

-We know that Whisper is a size fixed database because it reserves space in that for each group of retention, and if there is no data,

[2014-09-19 14:25] jpotter opened #56 "Request: on startup, when keyspace isn't inited, either exit or retry connections"
We're seeing a minor bug when running cyanite in a testing setup, where the testing setup resets and re-inits everything.

Specifically, if the metric keyspace doesn't exist right at startup of cyanite (because our init scripts are running it at the same time -- so we can fix this by delaying the startup of cyanite), then the below stack trace occurs *and* the process hangs. I'd suggest either hav

[2014-09-22 09:54] #52 closed, assigned to nobody

[2014-09-26 08:15] #55 closed, assigned to nobody

[2014-10-01 19:34] jpotter opened #58 "Cyanite and multi-DC support"
Hi Pierre,

I'm hoping to get cyanite working for showing stats from multiple data centers.

We're writing data into cassandra (via graphite-api) using something like the following:
- stats.us_east.app.XXX
- stats.us_west_1.app.XXX
- stats.us_west_2.app.XXX

So, in us-east, all stats are being stored in cassandra under statsd buckets starting with stats.us_east.app, etc.

I'm able to do a "select

[2014-10-02 12:19] #54 closed, assigned to nobody

[2014-10-02 12:20] #53 closed, assigned to nobody

[2014-10-02 12:22] #51 closed, assigned to nobody

[2014-10-02 19:29] #58 closed, assigned to nobody

[2014-10-02 20:25] ssabnis opened #60 "Lein uberjar failure"
When trying the to build the latest cyanite I get the following error

Could not transfer artifact cc.qbits:alia:pom:2.2.0 from/to clojars (https://clojars.org/repo/): Checksum validation failed, expected 7495cbbed368dee884510d3329979f53baa013b1 but is bc2637df032b359c6baf9bd847d5157cb3706a45

[2014-10-04 19:35] #60 closed, assigned to nobody

[2014-10-04 22:57] chjohnst opened #61 "commit 645af"
Seems like the master branch is broken at this time?  I just tried commit (in subject) and I am getting errors, is this a known issue?

"Exception: " #<FileNotFoundException java.io.FileNotFoundException: Could not locate org/spootnik/cyanite/logging__init.class or org/spootnik/cyanite/logging.clj on classpath: >
Exception in thread "main" clojure.lang.ExceptionInfo: no such namespace: org.spootni

[2014-10-07 20:21] #61 closed, assigned to nobody

[2014-10-08 18:14] chjohnst opened #65 "Rollups and inserts"
If I have a rollup value of 10s, but insert data into Cassandra in 1s increments I noticed the data field is an array where I am actually inserting 10 records into the one rollup.  Is this expected?  Looking at the code it is, but was this a way of handling more of a statsd approach in cyanite?

[2014-10-10 18:43] jpotter opened #66 "Support for multiple elasticsearch nodes in index"
Is there a way to configure cyanite to use more than one node for elasticsearch?

It looks like the yaml file only supports passing in one node for elasticsearch when I follow the yaml convention. That is, this works:

index:
  use: "io.cyanite.es_path/es-native"
  index: "cyanite_stats_paths" #defaults to "cyanite_paths"
  host: "192.168.1.103"

But this gives the below exception:

index:
  use:

[2014-10-13 10:04] ricardmestre opened #67 "Problems with Cyanite configuration"
Hi everyone,

We are working with Cyanite to store metrics in Cassandra, store a cache in Elasticsearch, and read them through Graphite-web, all of it in a multiple node cluster. After a upgrade of Cassandra to a 2.1 version, and Cyanite to the  0.1.3 version, we have problems with Cyanite configuration. When we want to view the metrics, the Graphite-web doesn't find them.

cyanite.yaml:
[code]
/v

[2014-10-19 18:30] MichaelHierweck opened #68 "Binds graphite listener to all interfaces"
Cyanite binds the graphite listener to all interfaces. The "host" configuration setting is ignored:

Configuration:

carbon:
  host: "127.0.0.1"
  port: 2004
  rollups:
    - "1m:30d"
    - "5m:90d"
http:
  host: "127.0.0.1"
  port: 8000
logging:
  level: warn
  console: false
  files:
    - "/var/log/cyanite/cyanite.log"
store:
  cluster: 'localhost'
  keyspace: 'metric'
index:
  use: "io.cyanite

[2014-10-22 11:12] sgran opened #69 "Expose interval information for paths"
Hi,

graphite-api finders (like graphite-cyanite) expose a method, get_intervals() to provide hints about when a given path is valid from and to.  Currently graphite-cyanite doesn't seem to have a way to query this information from cyanite, and returns that a given path is always valid for any given range.

If cyanite exposed this information, graphite-cyanite could make use of it, and the resulti

[2014-10-23 21:10] WrathOfChris opened #70 "Cannot use Value Lists in metric paths"
Having issues rendering metrics that use a _Value List_ "ie: something.{x,y}" as the metric path (http://graphite-api.readthedocs.org/en/latest/api.html#paths-and-wildcards)

Setup is (graphite-api + graphite-cyanite) to cyanite

Simple test: `http://localhost/render?target=%7Btest%2Ctest2%7D`

[code]

Full stack trace:
[code]

[2014-10-25 13:23] sgran opened #71 "Allow for time points in paths query"
graphite-api supports queries to find paths during a given time period of the form:
[code]
It would be great if the paths method could have optional time parameters to allow callers to restrict the set of metrics to the ones valid during a given time period.  I'm using graphite-cyanite at the moment, and it can't pass this information back in the query, although the information is available.

Than

[2014-11-03 14:06] mabrek opened #73 "cassandra complains about big batches of prepared statements"
Here's an example from cassandra logs:

    WARN  13:54:22 Batch of prepared statements for [metric.metric] is of size 15496, exceeding specified threshold of 5120 by 10376.
    WARN  13:54:23 Batch of prepared statements for [metric.metric] is of size 15652, exceeding specified threshold of 5120 by 10532.

batch function from store.clj creates BatchStatements using default constructor which resul

[2014-11-04 10:24] mabrek opened #74 "cassandra schema has a limit of 2 billion timestamps per path"
See http://wiki.apache.org/cassandra/CassandraLimitations
For a single path it means ~60 years of  data with 1 second resolution but not so much for millisecond resolution data.
Slide 39 of http://www.slideshare.net/patrickmcfadin/cassandra-20-and-timeseries recommends to include date into partition key.

[2014-11-12 12:38] MichaelHierweck opened #76 "Fails when a cassandra node goes down"
Cyanite fails when a cassandra nodes goes down even if redundancy/consistency are still satisfied.

Configuration:

Cyanite is connected to a local cassandra instance (A) which is connected with two other cassandra nodes (B, C).

cyanite.yaml
[code]

Cassandra:
[code]

Note: replication factor 2 makes no difference.

Steps to reproduce:

1. All cassandra nodes up (check with nodetool)
2. Start cya

[2014-11-12 12:40] #68 closed, assigned to nobody

[2014-11-12 12:47] chjohnst opened #77 "Support all alia cluster connection modes"
Datastax commercial Cassandra supports Kerberos auth, would be useful to see support here for this

[2014-11-12 23:29] sreedhardasi opened #78 "Intermittent max requests per destination 1024 error"
I am getting the following error intermittently. I am sending around 200K/min metrics and using elasticsearch as path store. Can you help me fix the issue?

DEBUG [2014-11-12 16:49:17,915] async-dispatch-10 - io.cyanite.es_path - Failed bulk update, full response:  {:error #<Result Result[HttpRequest[POST /cyanite_paths/path/_bulk HTTP/1.1]@11d17ac9 > HttpResponse[null 0 null]@4fd42b42] java.util.

[2014-11-17 20:23] jpotter opened #81 "Multi-DC support & Cassandra: how to set DC name for DCAwareRoundRobinPolicy?"
We're running cassandra in multiple data centers, where US-East is 10.1.x.x and US-West-2 is 10.3.x.x. Cassandra itself communicates cross-DC using public IP addresses, but apps in each DC should only be connecting to the local DCs cassandra instances.

When starting up cyanite, I'm getting the following error where cyanite's cassandra client is somehow determining it's in "us-west-2", even though

[2014-12-04 14:30] ajazam opened #82 "Rollups and periods for particular metrics"
Is it possible to specify different rollups for different metrics?

If you look at the graphite documentation http://graphite.readthedocs.org/en/latest/config-carbon.html#storage-schemas-conf

You can specify

[garbage_collection]
pattern = garbageCollections$
retentions = 10s:14d

I'd like to be able to do that for particular metric patterns.

Is it possible to do this?

[2014-12-08 14:35] luxifr opened #84 "updated-core: broken carbon transport"
Hi,

tried updated-core today, but I can't get it to work. Upon start it throws lots and lots of io.netty.channel.ChannelPipelineException like so:

[code]

this is the config I use:
[code]

[2014-12-11 09:23] luxifr opened #85 "loosing metrics"
Hi there,

I'm loosing metrics simmilar to the already closed #44 with current master. Unfortunately there's no errors in the logs.

However, it got worse the more "sources" I add to the system, i.e. more metrics are sent. It seems like it cannot keep up, but I don't know how to debug this. Neither Cassandra nor my disk is anywhere near its limits.

What can I do?

[2014-12-12 20:36] ogg1e opened #86 "log rotation"
I don't believe the cyanite log file is being rotated. It could fill up the disk eventually.

[2015-01-21 11:23] MichaelHierweck commented on #76
@pyr: #80 did not help, I'm afraid to say.

[2015-01-22 14:27] MichaelHierweck commented on #76
Please merge *both* PR #80 and #88.

[2015-01-23 06:28] jshook opened #89 "Grafana compatibility issue with metric names"
I attempted to use this with grafana, but there are issues in the metric name discovery:
(configured with no elastic search for cyanite in this instance)

java.lang.NumberFormatException: null
        at java.lang.Long.parseLong(Long.java:404)
        at java.lang.Long.parseLong(Long.java:483)
        at io.cyanite.http$find_best_rollup$within__8633.invoke(http.clj:37)
        at clojure.core$some

[2015-01-23 11:03] MichaelHierweck commented on #84
There seems to be a bug related to the code that bootstraps tcp servers in tcp.clj. It seems only a single LineBasedFrameDecoder is created and shared across the tcp listeners. Instead every listener requires an instance on its own.

[2015-01-25 19:38] hitthefrei commented on #70
@WrathOfChris
Hi, do find a way to resolve this issue?

[2015-01-25 19:42] MichaelHierweck opened #91 "updated-core: Channels do not work"
I recently tried to figure out why no metrics are send to cassandra in the updated-core branch.

I figured out two points:

First: No data will be send to the channel when using the line pipeline becaue the condition in tcp.clj line 43 will not be (never be?) fulfilled:
https://github.com/pyr/cyanite/blob/feature/updated-core/src/io/cyanite/transport/tcp.clj#L43

Second: Despite of the first point

[2015-01-26 02:56] WrathOfChris commented on #70
@hitthefrei no, only got as far as identifying it.  I'm only using elasticsearch, so can't speak to the internal path store.

cyanite passes the full query string directly to the elasticsearch `regexp` search parameter, only mutating it in `build-es-filter` to replace '.' and '*' with correctly escaped chars for regex.

Would definitely need to escape '{' and '}', but may need to do more to match

[2015-01-27 11:11] hitthefrei commented on #70
Thank you, @WrathOfChris !
I resolve this issue with changing in cyanite/src/io/cyanite/es_path.clj

I change  `p (str/replace (str/replace path "." "\\.") "*" ".*")` to p `(str/replace (str/replace (str/replace (str/replace (str/replace path "," "|") "}" ")") "{" "(") "." "\\.") "*" ".*")` , and it's works!

[2015-02-05 03:49] chjohnst commented on #81
Also seeing an issue here where I have two datacenter's running in a single cluster and cyanite just seems to hang around right after it connects to the all the nodes in the DC and then finally the nodes in the other DC.  I am going to bump my version to the latest master branch but I suspect cyanite is not support in this type of topology?

[2015-02-05 12:49] chjohnst commented on #81
BTW this is on Datastax Enterprise 4.6.

TRACE [2015-02-05 07:48:10,584] main - com.datastax.driver.core.RequestHandler - Querying node /10.250.0.6:9042
TRACE [2015-02-05 07:48:10,584] main - com.datastax.driver.core.Connection - [/10.250.0.6:9042-1] writing request PREPARE SELECT path,data,time FROM metric WHERE path IN ? AND tenant = '' AND rollup = ? AND period = ? AND time >= ? AND time <= ? O

[2015-02-05 13:00] jpotter commented on #81
ORDER BY is broken in DSE 4.6. I have an open ticket with them; they say it might be fixed in 4.6.1 due out in the next few weeks, but it sounds like the fix is in a newer dot release of cassandra than what will be in 4.6.1 so don't hold your breath.

The issue in this bug isn't relegated to the ORDER BY bug.

[2015-02-05 18:31] chjohnst commented on #81
Looks like I found a regression that is present in 4.6 and just recently fixed in 4.5.5 and newer upstream Cassandra 2.x

https://issues.apache.org/jira/browse/CASSANDRA-8286

[2015-02-05 18:38] jpotter commented on #81
Yup, that's the one!

[2015-02-05 21:08] jpotter commented on #81
I'm told that DSE 4.6.1 will have C* 2.0.12 which contains the fix for CASSANDRA-8286 and 4.6.1 should be out in about 3 weeks from now.

[2015-02-20 12:19] resnostyle opened #93 "Displaying inserted metrics"
How do I get cyanite to display previously inserted metrics? When I migration graphite whisper files into cassandra, cyanite doesnt know their location. How can I reset this information?

[2015-02-25 21:43] pyr commented on #93
Hi @resnostyle,

When you do this migration, which tool do you use to insert metrics ?

[2015-02-27 02:30] #93 closed

[2015-02-27 02:32] resnostyle commented on #82
Cyanite is presently not able to handle regexp rollups.

[2015-03-11 16:13] SEJeff commented on #42
Indeed, kafka would be perfect. A stack of kafka, cassandra, storm, etc, would be super nice.

[2015-03-12 21:23] WrathOfChris commented on #70
Submitted a modified version of your fix as a PR: https://github.com/pyr/cyanite/pull/94

[2015-03-17 16:37] stdweird opened #95 "cyanite always logs with level debug"
whatever i seem to try, cyanite keeps logging with loglevel debug (which is a lot).

i tried increasing the level to anything but debug, or removing the level altogether (default should be info, right?)

i'm using latest master, cyanite is running via
[code]

current config
[code]

[2015-03-17 17:04] WrathOfChris commented on #95
I found a workaround to this, since config.clj sets the loglevel explicitly to debug:

[code]

[2015-03-18 06:38] stdweird commented on #95
@WrathOfChris thanks, works like a charm!

[2015-03-18 06:38] #95 closed

[2015-03-23 07:16] mabrek opened #96 "too much cpu used by hitting elasticsearch for every metric update"
When I'm sending ~600 metrics every second (just a single host with collectd and 1s update interval) cyanite jvm consumes about 30% of a single core + es jvm consumes another 30%. It looks like every time metric arrives to cyanite it issues a request to es which is not really needed (same set of metrics is being reported every second).

[2015-03-24 12:28] mwmanley opened #97 "ElasticSearch never returning results for graphite web"
I have a brand new Cyanite install (stock pull from here) with ES 1.5.  I see data populating into ES from Cyanite, but when using the Graphite web browser, it never returns any results for the top level of the tree.  I am using the REST interface to ES as defined in my cyanite.yaml:

index:
  use: "io.cyanite.es_path/es-rest"
  index: "cyanite_paths" #defaults to "cyanite_paths"
  url: "http://es

[2015-03-25 11:24] mabrek commented on #96
One possible solution is to maintain a set of hashes of all indexed paths in memory and check it before sending candidate path to ES.
md5 hashes of 1M paths would take only 16Mb (and some data structure overhead) but it will decrease CPU usage significantly.

[2015-03-26 14:23] resnostyle opened #98 "HoltWintersAberration: list index out of range"
The holtWintersAberration function isnt displaying anything on graphite-web. The logs display the following stack trace.
This is also using a version .10.x using a alternate storage method, cyanite with cassandra backend.

Here's the call I'm making for example: curl 'http://localhost/render/?from=-7days&until=-1minutes&uniq=1426001228492&format=json&target=holtWintersAberration(statsd.processing_

[2015-03-27 12:54] chjohnst commented on #97
Have you tried this on ES 1.4?  Wondering if something changed there.
 On Mar 24, 2015 8:28 AM, "mwmanley" <notifications@github.com> wrote:

[2015-03-27 15:46] mwmanley commented on #97
I tried this on ES 1.3, 1.4, and 1.5.  I got the same results for all these, which is why I am puzzled.  Did you guys take any extra steps with ES other than a base install?

[2015-03-27 16:30] mwmanley commented on #97
Update, ES 0.90.11 works perfectly.

[2015-03-30 11:37] resnostyle opened #99 "Rollups not applied correctly"
Upon further investigation of our current issue, https://github.com/pyr/cyanite/issues/98 we have determined that rollups are incorrectly applied.

Our current rollups are:

carbon:
  host: "0.0.0.0"
  port: 2044
  rollups:
    - "30s:1h"
    - "5m:7d"
    - "4h:90d"
    - "1d:10y"

The first hour will be applied correctly but then going further out we are noticing the data starts to become incons

[2015-04-02 16:00] shaanaxx opened #100 "[Errno 111] Connection refused"
I am using graphite-web with cyanite and graphite-cyanite. I can successfully insert data into my cassandra cluster. But when I try to retrieve the info using Grafana, I see this error in my graphite exception log.

  Failed CarbonLink query 'my.queryquerysim.users.allUsers.active'
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/graphite/render/datalib.py", line 2

[2015-04-08 16:31] hanynowsky opened #101 "Migration of ES indices. How to?"
Hello,
we have migrated an old cluster's data (metric.metric) to a new Cassandra cluster (USing CQLSH JavaDriver).
Afterwards, we tried to query the graphite instance but it returns empty results. The only result we get is related to a new test VM whose collectd is configured to send metrics to the new Cluster's Cyanite instance.
What is going wrong? How could we instruct the new Cyanite to pick t

[2015-04-20 07:08] hanynowsky commented on #101
Thanks anyway, we've settled on this: http://www.elastic.co/guide/en/elasticsearch/reference/1.3/modules-snapshots.html

[2015-04-20 07:08] #101 closed

[2015-04-23 16:31] mattford63 opened #102 "Documentation"
Could someone provide some example HTTP queries/uris in the docs?  Would be very helpful in exploring the HTTP API.  I'm struggling to write anything that works other than

[code]

[2015-04-23 16:50] brutasse commented on #102
The other useful URL is `/metrics` with the `path`, `from` and `to` querystring parameters. If you're looking for graphs it'd probably be easier to use graphite-api and graphite-cyanite to extract data from cyanite and use one of the graphite dashboards.

You can find a usage example in graphite-cyanite: https://github.com/brutasse/graphite-cyanite/blob/master/cyanite.py#L62-L64 and https://github

[2015-04-24 17:00] mattford63 commented on #102
That's been a big help - ty.

[2015-05-08 15:33] mwmanley commented on #99
I have been finding that not-using the carbon-style rollups worked for me, as well as specifying the TTL:

  rollups:
    - period: 10
      rollup: 86400
      ttl: 86400
    - rollup: 300
      period: 5184000
      ttl: 5184000
    - rollup: 600
      period: 157680000
      ttl: 157680000

I know it's a pain, but maybe try that as a workaround for now?

[2015-05-08 15:41] mwmanley commented on #97
For whatever reason, it works again with 1.5.  Closing this since it's not a bug, I guess.

[2015-05-08 15:41] #97 closed

[2015-05-10 19:01] mwmanley opened #103 "Table names should be configurable by rollup"
This is an enhancement request, and something that I may work on myself.  To maximize Cassandra compaction (and just for general non-hardcoding reasons), we should able to specify a Cassandra table per rollup.  This way, I can set different compaction methods, as well as chart the growth of the various rollups.  This method may also be useful later on when changing over from the current set-based

[2015-05-10 20:40] pyr commented on #103
Hi @mwmanley,

This seems sensible indeed, and should be an easy change.

[2015-05-15 19:11] mwmanley commented on #103
I wrote some code that does this and seems to work based off the master branch.  You're free to have it and laugh at my sad attempts at clojure.  It takes table names as part of the configuration YAML and writes to those in lieu of the monolithic "metric" table.

It could be useful later in making statements that do rollups, which I may work on since this project is kinda pressing for me.  My comp

[2015-05-15 20:00] mwmanley commented on #103
BTW, this change quartered the load on all my Cassandra servers immediately so that they aren't trying to keep up with compaction given the high volume.  So, yay!

[2015-05-20 14:43] vanjos commented on #103
Just a quick question - wouldn't it be smart to use Date Tiered instead of Size Tiered compaction for these tables?

[2015-05-20 14:55] pyr commented on #103
@vanjos definitely would be :-) it's mostly a compatibility decision for now

[2015-05-20 15:58] vanjos commented on #103
@pyr so then... on > 2.1 - go for it?

also is @mwmanley PR a worthwhile enhancement?  https://github.com/pyr/cyanite/compare/master...mwmanley:tapad

seems like what may be missing is some more Readme to it...

[2015-05-21 21:55] gdavis33 opened #104 "Metrics not returned."
Cyanite is able to push metrics into cassandra but when querying in debug mode I get the following error. Paths seem to work but no metrics :(

[code]

[code]

From Cyanite log
[code]

[2015-05-27 11:28] mwmanley commented on #103
I would not say mine is currently in a state to be used unless I gave you a certain checkout since I was silly about branching.  While it does segregate out the data into separate tables for compaction, which is improving things quite a bit, I'm not a clojure expert and it needs a lot of cleanup.  I was also trying to tackle the rollup issues too because I need to have that working, but it's in a

[2015-05-28 00:29] mwmanley commented on #103
My code works now, but 1) is not pretty and 2) intermittently throws a NPE during rollups.  I'm not sure yet why that is.  But, I do have rollups implemented, though it does need a major overhaul in coding as they are more or less inline.  I'm sure anyone that knows clojure well (I freely admit that I don't very well; I was a C/PERL guy) will probably go "oh, why did you do that???," but the code

[2015-05-28 07:18] pyr commented on #103
@mwmanley thanks for this, I'll dive into it soon.

[2015-05-28 13:21] mwmanley commented on #103
I fixed the NPE.  I was eval'ing the atom that keeps the rollup state incorrectly on the larger rollups, so it seems to be working now.  There is still a lot of streamlining that needs to happen in the code, as well as fixing my clumsy clojure.

[2015-06-02 14:52] #104 closed

[2015-06-02 14:53] gdavis33 commented on #104
Incorrect url, my fault.

[2015-06-06 12:06] EinsamHauer commented on #96
Anton,

16 Mb is quite underestimated in fact - there will be  quite some overhead (arrays, hashtables, pointers, etc). But the idea itself is viable. In fact I became somehow desperate about these performance issues and ended up with implementing my own writer to C* (with ~ same functionality as cyanite) with expiring paths cache. Probably, mostly because I'm not clever enough to master clojure:-

[2015-06-09 12:28] dayman opened #105 "Infinite loop when requesting ElasticSearch"
I use REST driver to connect to ES

[code]
when I perform request
[code]
it fails due to timeout.

With tcpdump I sniffed the traffic going from cyanite to ES and discovered that it first requests
[code]
and then starts "DOSing" Elastic Search with endless chain of identical requests
[code]
I think its the same mentioned in https://github.com/pyr/cyanite/issues/97

I use ES 1.4.4

I presume respon

[2015-06-11 21:36] ebpitts commented on #46
For clarification: when returning the data for a rolled-up time period, cyanite always returns the average of the datapoints? It's not possible to selectively use other aggregation methods like minimum or maximum?

[2015-06-14 20:50] pyr commented on #46
@ebpitts the `agg` query arg can be used to specify min or max as an aggregation method.

[2015-06-15 21:40] pauzed commented on #97
I just ran into this which puzzled me to no avail.  I had deleted my cyanite_paths index, and recreated it by hand, as I have dynamic index creation disabled.  I was able to see data in ELS, and able to query using GET, but when I used POST to search, I was getting empty results similar to you.  Finally, I dropped the index, enabled dynamic index creation, letting Cyanite post data to ES which wou

[2015-06-17 20:53] vsonone opened #106 "Cassandra Read Performance"
Does the size of data list affect the performance in graphite ?

I have the following rollup:
"10s:24h"
"1m:30d"
"15m:1year"

Now lets say, if a datapoint comes every second to cyanite, then in 24 hours, the following rows will be created:

For "10s:24h" rollup
    (24*60*60/10 = 8640) rows will be created each row having 10 elements in the data list

For "1m:30d" rollup
    (24*60 = 1440) rows wi

[2015-06-23 10:40] davewood opened #107 "website dead links"
on http://cyanite.io/

get started ... http://cyanite.io/quickstart/

and

learn more ... http://cyanite.io/design/

give me 404 errors

[2015-06-23 11:32] davewood opened #108 "cyanite compile error"
debian wheezy 7.8

aptitude install leiningen

david@nio:~/dev/cyanite$ lein uberjar
Copying 94 files to /home/david/dev/cyanite/lib
Compiling io.cyanite
Reflection warning, io/cyanite/store.clj:161:11 - reference to field getMessage can't be resolved.
Reflection warning, io/cyanite/store.clj:161:11 - reference to field getMessage can't be resolved.
log4j:WARN No appenders could be found for logge

[2015-06-23 12:11] mfournier commented on #108
@davewood, the lein version shipped with debian is obsolete. You'll probably have more luck by installing 2.x as described here: http://leiningen.org/#install

[2015-06-24 06:11] pyr commented on #107
Hi David,

Unfortunately this needs a lot of work. A new documentation site is in progress, sorry to keep you waiting.

[2015-06-25 15:59] ebpitts opened #109 "Recommend DateTieredCompactionStrategy in README"
@pyr I saw you recommended using DateTieredCompactionStrategy in your [talk](https://vimeo.com/131581325) at Monitorama (btw, are the slides available online?). The README still mentions SizeTieredCompactionStrategy, so perhaps it should be changed.

[2015-06-26 16:27] vsonone commented on #106
Can we not modify cyanite to store averages of the data points in a row, instead of storing every data points in every retention period ? It is making the read on cassandra slow, because of frequent GC because of large size of the data list.

[2015-06-26 22:18] jeffpierce commented on #103
@mwmanley Is your branch in a state to try in production?  What configuration changes would I need to make compared to the normal YAML config to get the best use out of it?

Also, am I reading the code incorrectly (I'm terrible at clojure), or does this address the rollup size issue by using average/min/max rather than just putting all the previous stat points into a rolled up row?

[2015-06-27 05:01] #89 closed

[2015-06-27 05:02] jshook commented on #89
Not an issue.

[2015-06-30 14:19] jippi commented on #96
bump bump

[2015-06-30 14:19] jippi commented on #73
bump bump

[2015-06-30 14:21] pyr commented on #96
Hi everyone. I expect to tackle this mid-july, sorrya bout the delay :-(

[2015-06-30 20:01] jippi opened #110 "General state of the project"
Hi,

I'm looking into using graphite with cassandra, and cyanite looks perfect for it

I have however noticed a lot of open (and old) tickets and PRs for the repo - is the project currently maintained and stable - or should it be considered risky business in production environments ?

[2015-07-02 08:48] pyr commented on #110
Hi Christian,

Thanks for your interest in cyanite. The state of the project is stable right now and works for several large deployments.

That being said there are improvements that will be tackled that require a bit of work (without noticeably impacting the schema). This explains the sorry state of the issue tracker and hope it won't deter you from trying out cyanite.

Cheers!

[2015-07-02 08:48] #110 closed

[2015-07-02 12:59] davewood commented on #108
even with a 2.5.1 version of leiningen it fails.

david@nio:~/dev/cyanite/cyanite-master$ ../lein -v
Leiningen 2.5.1 on Java 1.6.0_35 OpenJDK 64-Bit Server VM

david@nio:~/dev/cyanite/cyanite-master$ ../lein uberjar
Retrieving org/apache/httpcomponents/httpcore/4.2/httpcore-4.2.pom from central
Retrieving org/apache/httpcomponents/httpcomponents-core/4.2/httpcomponents-core-4.2.pom from central
Re

[2015-07-02 13:24] mpenet commented on #108
jetty-9.2.* used by cyanite requires to be compiled with java7+.
Since you're trying to compile with java6 you get this "Unsupported major.minor version 51.0" which refers to java7 indeed.

the latest version of jetty, 9.3.*, requires java8 FYI

[2015-07-07 18:54] ebpitts commented on #96
@EinsamHauer I assume you're referring to https://github.com/EinsamHauer/disthene ?

[2015-07-07 19:16] pyr commented on #96
I just started gettings things in good shape to have a nicer core with rollup capacity. Again sorry for the wait everyone.

[2015-07-07 20:25] EinsamHauer commented on #96
@ebpitts yes, that's what we ended up using, at least for the time being

[2015-07-09 20:16] TransactCharlie commented on #97
I had a similar issue and I *think* it is down to the mapping that are created during index creation. I've seen the mapping be different when cyanite cannot find any rows from when it works. - I'm not sure how the situation arises but I've switched to creating the elastic search index (and mapping) ahead of time using an ansible provisioning step before starting cyanite.

I've been building a stac

[2015-07-11 13:29] jippi opened #111 ""/metrics/find/?query=*" fails"
I'm getting the following when trying to query cyanite

Write seem to work just fine - unless it's an issue that the "tenant" value is an empty string :)

I'm using ES 1.5.2 and native protocol - doesn't work with the rest protocol either :(

DEBUG [2015-07-11 13:26:31,097] qtp1567700027-89 - io.cyanite.http - got request:  {:ssl-client-cert nil, :remote-addr 80.167.165.87, :params {:query *}, :ct

[2015-07-11 13:34] jippi commented on #111
doesn't work if i use the in-memory store either

[code]

[2015-07-11 13:47] jippi commented on #111
Updating to Oracle JRE / JDK from the openjdk version did not do anything

-> java -version
java version "1.7.0_80"
Java(TM) SE Runtime Environment (build 1.7.0_80-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.80-b11, mixed mode)

[2015-07-14 12:44] davewood commented on #108
thank you for the help mpenet, here is a quick list of steps to build cyanite on debian 7.8 (wheezy)

# as root
aptitude install openjdk-7-jre-headless
# in case you already had java 1.6 installed you have to change the default java
update-alternatives --config java

# as user
wget https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein
chmod u+x lein && ./lein

wget https://github

[2015-07-14 14:46] mpenet commented on #108
Alternatively you could use a lein exclude clause on jetty-* packages and use whatever version of jetty9.3.* you want to support with an explicit dependency. This way you dont have to update java, but this might again break in the future depending on the features that would be added in Jet.

[2015-07-23 13:15] pyr commented on #76
@MichaelHierweck would you be willing to take a look at this updated #80 ? If so I'll integrate your work from #88. Sorry about the big lag, but I'm ready to move forward and release based on #80 shortly. I'll close this for now since it's not relevant in the context of cyanite's next version.

[2015-07-23 13:16] #76 closed

[2015-07-23 13:18] pyr commented on #65
duplicate of #46

[2015-07-23 13:18] #65 closed

[2015-07-23 13:19] pyr commented on #107
Hi @davewood,

There is now a more detailed quickstart and design document at http://cyanite.io which describes the status of cyanite#80

[2015-07-23 13:19] #107 closed

[2015-07-23 13:21] pyr commented on #48
@ctavan I'll close this issue for now, #80 will be your reference point. I expect to release this weekend.

[2015-07-23 13:21] #48 closed

[2015-07-23 13:24] pyr commented on #1
@chjohnst I'm closing this now as #80 will mark the point at which this is fixed.

[2015-07-23 13:26] pyr commented on #100
Hi @shaanaxx,

This seems to be due to a configuration problem but I can't pinpoint it.

[2015-07-23 13:26] #100 closed

[2015-07-23 13:26] pyr commented on #109
Hi @ebpitts, this is now fixed in #80, thanks!

[2015-07-23 13:26] #109 closed

[2015-07-23 13:28] pyr commented on #111
Hi @jippi,

Can you paste the URL you're trying to retrieve, it seems to me as though you are trying to fetch paths with `/metrics/find`, whereas the correct URL is `/paths`

[2015-07-23 13:28] pyr commented on #108
@davewood is openjdk-8 available on your version of debian ?

[2015-07-23 13:29] pyr commented on #108
I updated the documentation to reflect the dependency on JDK8

[2015-07-23 13:30] pyr commented on #108
In the meantime I will close this as this is unfortunately a pre-requisite to run latest cyanite.

[2015-07-23 13:30] #108 closed

[2015-07-23 13:31] pyr commented on #106
@vsonone this is now the case in #80, I'd love help with testing!

[2015-07-23 13:31] #106 closed

[2015-07-23 13:34] pyr commented on #103
@jeffpierce @mwmanley I'll try to adapt the change for #80. I think I will first release a new cyanite without this feature and make it a priority for the follow-up release. In the mean-time, the aggregation feature that the new cyanite brings will get you to a good place in terms of compaction pressure I would think.

[2015-07-23 13:35] pyr commented on #102
@mattford63 queries are now documented at http:/cyanite.io as part of #80. Sorry for the wait!

[2015-07-23 13:35] #102 closed

[2015-07-23 13:35] pyr commented on #86
Hi @ogg1e,

As part of #80, cyanite will support rotation since it relies on https://github.com/pyr/unilog.

Thanks and sorry for the long wait.

[2015-07-23 13:35] #86 closed

[2015-07-23 13:36] pyr commented on #84
Hi,

#80 has now a fixed carbon input. sorry for the wait.

[2015-07-23 13:36] #84 closed

[2015-07-23 13:37] pyr commented on #77
Hi @chjohnst this probably won't make it in #80 but should be good for the follow-up release

[2015-07-23 13:38] pyr commented on #81
Thanks for the details @jpotter !

[2015-07-23 13:38] #81 closed

[2015-07-23 13:38] ogg1e commented on #86
Woot! Great news. Thanks @pyr  . I'll be implementing this new release and testing it once it's done.

[2015-07-23 13:38] pyr commented on #82
Hi @ajazam this will be available as part of #80, thanks!

[2015-07-23 13:38] #82 closed

[2015-07-23 13:39] pyr commented on #85
Hi @luxifr, this behavior will most likely be fixed by #80. Thanks for reporting and sorry for the wait.

[2015-07-23 13:39] #85 closed

[2015-07-23 13:40] pyr commented on #73
Hi,

I will be closing this, since batches have been deprecated by the cassandra team and I've opted for binding on prepared statements. (approach described in #80)

Sorry for the long wait

[2015-07-23 13:40] #73 closed

[2015-07-23 13:41] pyr commented on #91
Hi @MichaelHierweck,

Thanks for reporting this. My naive approach to #80 has been udpated and changed to be more reliable (at the expense of a breaking schema change).

[2015-07-23 13:41] #91 closed

[2015-07-23 13:42] pyr commented on #99
This is now fixed in #80.

[2015-07-23 13:42] #99 closed

[2015-07-23 13:44] pyr commented on #78
Hi @sreedhardasi,

This concerns is adressed in #80 - or rather, will be as soon as the ES index makes it back.

[2015-07-23 13:44] #78 closed

[2015-07-23 13:54] pyr commented on #74
Hi @mabrek,

Keeping this in mind, I don't inted to change the schema dramatically since ms resolution is not the target for
cyanite's usage.

I do intend to provide a bit more leeway in how the schema gets constructed later on.

Mentioning this in the documentation (available in the feature/udpated-core branch) would be nice though if you're up for providing a PR

[2015-07-23 13:54] #74 closed

[2015-07-23 13:58] pyr commented on #70
Hi this is now correctly processed in #80. So sorry for the wait :-(

[2015-07-23 13:58] #70 closed

[2015-07-23 14:00] pyr commented on #98
I'll integrate this in the tests before merging #80.

[2015-07-23 14:01] pyr commented on #67
The native API will not be brought back in the next release.

[2015-07-23 14:01] #67 closed

[2015-07-23 14:05] pyr commented on #66
Hi @jpotter,

I will stop providing a native ES connector, going further. This means that going to multiple ES nodes should only involve load balancing them.

[2015-07-23 14:05] #66 closed

[2015-07-23 14:54] chjohnst commented on #1
Just looked at #80, will give it a go in my QA env.  Did the schema change
though?
On Jul 23, 2015 9:24 AM, "Pierre-Yves Ritschard" <notifications@github.com>
wrote:

[2015-07-23 15:26] pyr commented on #1
Hi chjonst,

Yes, the schema changed, the new schema addresses a number of issues with the original one.
My plans to address the transition are two-fold:

- provide a `cassandra-v1` store which will work with the old schema (not done yet)
- provide a migration tool to be able to use `cassandra-v2`

[2015-07-23 15:26] #1 closed

[2015-07-23 16:48] jippi commented on #111
I got it fixed - I'm sorry that I can't remember what I actually did to fix it though :(

maybe I rebuild the code with oracle jdk/jre instead of openjdk

[2015-07-23 16:48] #111 closed

[2015-07-23 19:54] pyr commented on #5
Not sure if this is needed at all, will close for now.

[2015-07-23 19:54] #5 closed

[2015-07-23 19:57] pyr commented on #45
@pdolan this is actually more of a question of attaching TTLs to inserts in elasticsearch documents

[2015-07-23 20:03] pyr commented on #56
fixed in #80 by b2587435fd57712949a441870ef2132864d55587

[2015-07-23 20:03] #56 closed

[2015-07-23 20:12] pyr commented on #96
This problem is now addressed in #80, cheers!

[2015-07-23 20:12] #96 closed

[2015-07-23 20:16] pyr commented on #105
With #80, once ES makes it back in the pressure against ES will be much smaller.

[2015-07-23 20:16] #105 closed

[2015-07-27 13:11] pyr commented on #45
I'm moving this to the next release since the current codebase will need a bit more changes.

[2015-07-27 21:54] #98 closed

[2015-07-28 16:17] danielsand opened #112 "project flux - current config"
Hey Pyr,

great project - but you're currently changing a lot and I try to set it up.
Im currently struggling a lot on this.

looks like you changed in the last week the configuration yaml.

My current problem is that the carbon listener not comes up.

i grep for the ports and its odd that he now picks port 80 for api and 2002 should be not carbon.
[code]

i builded all with oracle jdk 1.8

if you

[2015-07-28 16:21] danielsand commented on #112
oh btw - i see no errors in the log.

and already tried the default yaml config.

[2015-07-28 18:21] pyr commented on #112
Hi @danielsand,

Sorry about the big changes. Since yesterday, the configuration format has changed. I plan to add more elaborate docs around this very quickly now.

The format that is now relevant is the following:

[code]

[2015-07-28 18:54] joshpollara commented on #112
I have the same problem and I tried the config above. No luck.

[2015-07-28 19:03] pyr commented on #112
@joshpollara which build did you try it with ?

[2015-07-28 19:17] joshpollara commented on #112
cyanite-0.5.1-standalone.jar.... I just cloned master a few minutes ago and tried again.

usvagijpsbx01: ~ ⇒  ps faux | grep cyanite
jpollara 21575 24.5  6.4 3574428 249672 pts/0  Sl+  15:16   0:10          \_ java -jar /home/jpollara/cyanite/target/cyanite-0.5.1-standalone.jar
jpollara 21665  0.0  0.0 110404   864 pts/1    S+   15:17   0:00              \_ grep --color cyanite
usvagijpsbx01: ~ ⇒

[2015-07-28 19:32] pyr commented on #112
@joshpollara with the above config can you share the output of `java -jar target/cyanite-0.5.1-standalone.jar -f cyanite.yaml` ? What version of the JDK do you run it with ?

[2015-07-28 19:36] joshpollara commented on #112
usvagijpsbx01: ~ ⇒  java -version
java version "1.8.0_20"
Java(TM) SE Runtime Environment (build 1.8.0_20-b26)
Java HotSpot(TM) 64-Bit Server VM (build 25.20-b23, mixed mode)
usvagijpsbx01: ~ ⇒  java -jar /home/jpollara/cyanite/target/cyanite-0.5.1-standalone.jar -f /etc/cyanite.yaml
15:34:38.151 [main] DEBUG org.eclipse.jetty.util.log - Logging to Logger[org.eclipse.jetty.util.log] via org.eclips

[2015-07-28 19:39] pyr commented on #112
@joshpollara This actually looks right, you should have a listening port 2002 (which is a mistake, I know)

[2015-07-28 19:43] joshpollara commented on #112
OK cool. Unfortunately when I try to submit a metric I get an error:

DEBUG [2015-07-28 15:42:00,174] claypoole-1-3 - io.cyanite.engine in write callback:  #io.cyanite.engine.buckets.MetricSnapshot{:path "jp.foo", :time 1438112515, :mean 15163.6, :max 24741.0, :min 4874.0, :sum 75818.0, :resolution #io.cyanite.engine.rule.Resolution{:precision 5, :period 3600}}
WARN [2015-07-28 15:42:00,184] clayp

[2015-07-28 19:47] pyr commented on #112
@joshpollara this is due to your schema not being ready for this version of cyanite. You need the schema available in `doc/schema.cql`

[2015-07-28 19:50] joshpollara commented on #112
Yep I have the new schema.

[2015-07-28 19:52] joshpollara commented on #112
I take that back. I imported the schema again and all is well. Thanks so much for the help.

[2015-07-28 19:53] pyr commented on #112
@joshpollara no worries, glad it could be resolved quickly.

[2015-07-28 20:44] danielsand commented on #112
Hey @pyr !

Thanks a lot for the input. I will test this tomorrow when im back at the office desk :)
and @joshpollara thanks for your input - im going down the same road currently.
will help me to get stuff straight tomorrow :)

[2015-07-29 02:47] petecheslock opened #113 "Updating to latest release o.cyanite.engine.queue could not process element on queue 2 for :writeq"
I had used cyanite before monitorama with great success.  But the config file I was using before doesn't seem to work anymore.  Trying to wrap my head around the config file changes.    I spun up an instance with the following config:

[code]

Before I was able to configure the carbon listener and port, looks like there is now a generic TCP endpoint now - are there ways to change port/address?

Wh

[2015-07-29 03:04] petecheslock commented on #113
Also running 2.1 cassandra - and setup schema like from the doc here http://cyanite.io/concepts.html#storage-schema

[2015-07-29 06:43] pyr commented on #113
@petecheslock I didn't update the doc to the latest schema available in doc/schema.cql, let me do that right now, sorry about this. I'll also add a more explicit error when user defined types are not found.

[2015-07-29 06:47] pyr commented on #113
@petecheslock docs are now up to date

[2015-07-29 06:48] pyr commented on #45
Now integrated in what will be 0.5.1

[2015-07-29 06:48] #45 closed

[2015-07-29 07:05] danielsand commented on #112
Works !
@pyr question:

What are the config options to change the port and listening host for the carbon listener ?

Currently its 2002 and 127.0.0.1 which is not helping me at all and i dont want to create a 3rd wheel to proxy this through something like haproxy/nginx.

[2015-07-29 07:09] pyr commented on #112
Hi @danielsand,

Great to hear. The options are `host` and `port` respectively. I'll switch the ports later today to the "standard" carbon/pickle ports.

Cheers !

[2015-07-29 07:09] #112 closed

[2015-07-29 07:31] mpenet commented on #112
@pyr FYI I modified alia to throw early in that case, you can get it in 2.7.2

[2015-07-29 07:33] pyr commented on #112
@mpenet I'll definitely switch to that.

[2015-07-29 07:57] danielsand commented on #112
Hey @pyr

so:
[code]
doesn't do the trick
either does:
[code]

both starts without error but doesnt start the carbon listener:
[code]

[2015-07-29 07:58] pyr commented on #112
You'll want an integer port there:

[code]

[2015-07-29 08:00] danielsand commented on #112
ah darn. Thx a lot - works !

[2015-07-29 08:00] pyr commented on #112
@danielsand I will be publishing a commented configuration file and the associated doc in the quickstart guide shortly.

[2015-07-29 08:01] pyr commented on #112
(bear in mind that the release isn't quite out yet, and sorry for the hurdles ! thanks a lot for helping squaring out the last issues)

[2015-07-29 08:19] pyr commented on #112
Pending the merge in documentation, there is now a more detailed sample config at https://github.com/pyr/cyanite/blob/master/doc/cyanite.yaml

[2015-07-29 08:58] kyzh opened #114 "new logo: licence and copyright"
Does the [licence](https://github.com/pyr/cyanite/blob/master/LICENSE) applies to the [logo](https://github.com/pyr/cyanite/blob/master/doc/source/_static/cyanite.png) too ?

[2015-07-29 11:33] petecheslock commented on #113
Awesome! Will give it a spin today.

[2015-07-29 11:33] #113 closed

[2015-07-29 12:50] pyr commented on #114
Hi @kyzh,

The logo's copyright is assigned to @ste-m and he agrees that the license should be Creative Commons, I'll add that to cyanite.io somewhere sometime soon.

[2015-07-29 12:50] #114 closed

[2015-07-29 12:53] pyr commented on #103
@mwmanley Would you say that this is still needed now that #80 has been merged ? When leveraging `DateTieredCompactionStrategy` and with the much less frequent hits to cassandra, should we still pursue configurable Column Family names ?

[2015-07-29 14:24] kyzh commented on #114
thanks :)

[2015-07-29 14:25] pyr commented on #114
Of course, if you plan on using it somewhere, we'd love to know!

[2015-07-29 15:43] petecheslock opened #116 "Cyanite giving error when catching SIGTERM for shutdown"
I'm using runit to manage the cyanite service,  when stopping runit sends a SIGTERM to shutdown the process.

Seeing the following error in the logfile:
[code]

This is using the latest uberjar built from current HEAD 4a95827a92bb3e7fc4569f9553db3280beba8585

[2015-07-29 15:54] #116 closed

[2015-07-29 15:55] pyr commented on #116
@petecheslock last commit fixes how stop is handled in both the engine and api component and now has the expected behavior.

[2015-07-29 16:00] petecheslock commented on #116
@pyr awesome - tested the latest build and now working as expected.

[code]

[2015-07-29 17:05] tjamesturner commented on #113
sounds like this issue had 2 parts:
1. the new cql schema (fixed)
2. the question about how to configure the carbon port and bind host (not addressed)

[2015-07-29 17:13] petecheslock commented on #113
The 2nd one got fixed here https://github.com/pyr/cyanite/commit/27c18c2e2ad1c212316a831cf2739c018743b10b - with @pry's update to the config file.
also updated the quick start yaml docs with the correct key name for `input`  https://github.com/pyr/cyanite/commit/0a3bff4787905640e866106f99f919e4f603fec2

[2015-07-29 18:01] pyr commented on #113
@tjamesturner the example config and docs up on cyanite.io now contain appropriate documentation for 2.

[2015-07-29 18:08] tjamesturner commented on #113
i see that now. thank you both.

[2015-07-31 14:53] danielsand opened #117 "cyanite master == graphite-api ref ?"
Hello Again @pyr,

i have some Questions again :)

i have now a complete setup running.

Cassandra 2.1
2 cyanite servers:
one with the exoscale packages
one with the current master compiled jar

if i use the packages from the exoscale repo and install graphite-api - all works like a charm.

but it looks like the deb packages are quiet old and when i put stress on cyanite - a lot of metrics get los

[2015-07-31 15:01] danielsand commented on #117
maybe this helps - this is from the cyanite master compiled log:
[code]

[2015-07-31 15:03] danielsand commented on #112
+1 thanks for this @pyr
Im juggling currently around with the exoscale package installation and the current master.
But im not quiet through - the graphite-api and cyanite installation for current master wont bugde.

I shifted this to a new ticket tho

[2015-07-31 15:14] pyr commented on #117
@danielsand I'll test the whole scenario again throughout the weekend and will adapt graphite-cyanite if necessary

[2015-07-31 15:22] danielsand commented on #117
@pyr thanks for the effort.
cheers

[2015-07-31 16:43] mkrb commented on #117
@pyr same for me, e.g

http://127.0.0.1/metrics/find/?_dc=1438359955641&query=*&format=treejson&path=&node=GraphiteTree

Response:

Graphite encountered an unexpected error while handling your request.
Please contact your site administrator if the problem persists.

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/django/core/handlers/base.py", line 132, in get_res

[2015-08-03 09:42] pyr commented on #117
@mrkb thanks, this is really helpful. I will push a fix later today.

[2015-08-03 23:12] tjamesturner commented on #106
i am not sure this strategy will work.  specifically because when cyanite is run in a clustered environment, no single cyanite instance will know about all the input data. therefore the averages each instance stores should be weighted by the amount of traffic it receives. unfortunately, what i suspect will actually happen is that the average from each instance will be weighted equally when produci

[2015-08-04 06:23] pyr commented on #106
Hi @tjamesturner. This is true and mentioned in the updated docs at http://cyanite.io.
However, it is trivial to ensure that points for a specific metric are routed to a single cyanite host.

I will also provide to alternative ways to make this even easier:

- A proxy inside cyanite itself, provided its configuration contains the topology
- Queue based inputs (Kafka & RabbitMQ)

[2015-08-05 14:39] altvnk opened #118 "How to bind on 0.0.0.0"
Is there any way to specify where to bind? By default cyanite binds on 127.0.0.1:2003, but api binds on 0.0.0.0:8080

[2015-08-05 14:40] pyr commented on #118
Hi @altvnk,

Yes as described in the docs, you can use the `host` key for api or your `carbon` or `pickle` input to specify the binding address.

Cheers!

[2015-08-05 14:44] altvnk commented on #118
Oh, thanks! Maybe it's not all clear in docs? Some examples will omit the questions like this.

[2015-08-05 14:44] #118 closed

[2015-08-05 14:45] pyr commented on #118
For reference, the doc is here: http://cyanite.io/administrator.html#configuration-syntax

[2015-08-05 14:50] altvnk commented on #118
Thank you a lot, seems like i'm a blind =D

[2015-08-05 17:08] alangibson opened #119 "/paths api doesn't return JSON object"
While trying to figure out why graphite-api was only ever returning HTTP 500 errors, I noticed that the /paths api only ever returns a list, not a JSON object.

    [root@56959e8f3388 /]# curl http://127.0.0.1:8099/paths?query=56959e8f3388.cpu-6.cpu-idle
    ["56959e8f3388.cpu-6.cpu-idle"]

Adding '-H "Content-Type: application/json"' doesn't change anything.

However, the documents at cyanite.io/

[2015-08-05 17:14] alangibson opened #120 "Wrong urls in Releases documentation"
The Cyanite homepage at http://cyanite.io/ says

    The latest release is available at https://github.com/pyr/cyanite/releases/latest

Clicking through to that url results in this message from GitHub

    There aren’t any releases here

The url http://cyanite.io/quickstart.html#obtaining-cyanite says

    Binary release are the simplest way to get started and are hosted on github: https://github.

[2015-08-05 17:41] pyr commented on #120
Hi @alangibson,

This is because there are no binary releases yet, there's a - admitedly small - warning on main page of cyanite.io. The release is imminent though.

[2015-08-05 17:41] #120 closed

[2015-08-05 17:42] pyr commented on #119
Hi @alangibson,

This is a known issue and one of the blockers for the upcoming release.
I'll be closing #117 which is a duplicate.

Cheers.

[2015-08-05 17:42] pyr commented on #117
duplicate of #119. Fix should come around quick now, sorry about the wait.

[2015-08-05 17:42] #117 closed

[2015-08-06 13:28] altvnk opened #121 "Queue full warning"
Hi! I'm getting some problems with cyanite after few minutes running. I'm using (graphite-stresser)[https://github.com/feangulo/graphite-stresser] to load some data. Heap is set to 512m. Here log fragment:
[code]
Does it means that cyanite fails due to slow writes into cassandra?

[2015-08-06 22:01] TransactCharlie commented on #119
experiencing the same issue -- it's taken me a while to find out what is going on,

That'll teach me for trying the bleeding edge!. I think I might monkey patch graphite-cyanite and see if I can get any further.

[2015-08-07 01:14] TransactCharlie commented on #119
gah -- trying to hack the graphite-cyanite lib isn't getting me very far. I've come up with this:

[code]

to replace the find_nodes() method. But I can't seem to work out the proper yields. I *thought* it was like a directory walk.

I now see metrics branches in graphite-web but duplicated and always broken.

[2015-08-07 01:18] TransactCharlie commented on #119
![screen shot 2015-08-07 at 02 18 04](https://cloud.githubusercontent.com/assets/1984372/9126863/976241a6-3caa-11e5-89b5-42a3569c64db.png)

[2015-08-07 08:22] TransactCharlie commented on #119
comparing the results from

curl http://127.0.0.1:8080/paths?query=*

on an older version of cyanite to the latest master the behaviour is very different......

the older version will only show you the top level branches.

and the master version will spit out *every* metric path as a flat list of leaf nodes)

its a shame as I'd love to use this and test out the pickle handling.

[2015-08-07 15:57] dgeorgievski opened #122 "Size of batch of prepared statements Cassandra warnings"
Committing data to Cassandra by Cyanite creates this warning:

Initially I thought this warning could be easily addressed by setting higher value for this setting in cassandra.yaml

As you can see the comments for the setting recommend not to raise the WARN threshold level to avoid instability with the Cassandra node.

Before I do anything, this issue is not critical, I wanted to check with others

[2015-08-07 19:19] rrudduck commented on #122
Heed the warning in the cassandra.yaml - large batches can do some really bad things to a C* cluster. I set my batch_size in cyanite.yaml to 50. That number depends depends on the size of the data being sent (longer vs. shorter paths) so you can tune it, but 50 works for me.

[2015-08-07 20:31] dgeorgievski commented on #122
Thanks @rrudduck. Reducing the store batch_size to 50 eliminated the very frequent WARN message.

[2015-08-09 08:24] AnderEnder commented on #121
+1

[2015-08-10 18:02] mwmanley commented on #103
I would think so.  I think it's still the case where it's suboptimal to mix rows with different TTLs.

[2015-08-10 18:31] mwmanley commented on #103
Also, I have my long-term rollups being compressed by deflate versus lz4 since those data are infrequently used.  Different tables do allow for different compression as well as compaction.  :-)

[2015-08-10 21:06] AnderEnder commented on #121
Have the same error during high load with the heap 6Gb. Strange thing that  graphite carbon manage to  handle the load, while cyanite can not.

[2015-08-11 10:26] AnderEnder opened #123 "Netty error message"
During the cyanite start:

High load on pickle interface
Ubuntu14.04/oracle-jdk-1.8.0_51
cassandra: 2.2.0
cyanite: 0.5.1
elasticsearch: 1.7.1

In my case also notice that all heap memory(any value) was used by cyanite.

[2015-08-12 16:37] jeffpierce commented on #121
Same thing, then falls over with an out of memory error in under 25 minutes in a low-volume staging environment.

[2015-08-19 08:29] TransactCharlie commented on #119
Bump - Pyr? you taking a break from this project? maybe a nice holiday somewhere?

I'd try and modify cyanite myself except I'm not sure what the problem is exactly. Is it the elastic search schema and retrieval or is it some post processing that has to happen inside cyanite after the paths are retrieved from elastic search?

[2015-08-22 13:41] cberry777 commented on #119
I upgraded to the latest cyanite to prepare for a bakeoff and this problem now plagues me too.
Any ETA on getting it fixed??

BTW: It is not the elasticsearch index storage. I tried using "Index: memory" and it is the same problem.

[2015-08-24 08:47] pyr commented on #119
Hi @TransactCharlie, I'll work on this this week. the index is incomplete as of today

Cheers!

[2015-08-24 09:48] TransactCharlie commented on #119
Hi @pyr. Awesome news!

[2015-08-24 13:24] cberry777 commented on #119
yes. thank you very much!

From: Charlie Gildawie <notifications@github.com<mailto:notifications@github.com>>
Reply-To: pyr/cyanite <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, August 24, 2015 at 4:48 AM
To: pyr/cyanite <cyanite@noreply.github.com<mailto:cyanite@noreply.github.com>>
Cc: Chris Berry <cberry@homeaway.com<mailto:cberry@homeaway.com>>
Subject: Re: [cyanite] /p

[2015-08-25 18:00] gmlwall opened #125 "Connection Refused () with load balancers"
This is probably user error so apologies in advance;

Im trying out Cyanite and want to duplicate our current production traffic to it, sending TCP directly to it i have no issues (echo & netcat) however when trying to load balance the TCP over it i get connection refused. I have tried; HAProxy / carbon-c-relay / carbon-relay-ng all to no avail.

My config;

logging:
  level: info
  console: true

[2015-08-26 09:15] gmlwall commented on #125
cyanite also seems to ignore any parameters in the config;

i changed the ports around to test somethings, and also the bind address from 127.0.0.1 to 0.0.0.0 as per this config;

logging:
  level: info
  console: true
  files:
   \ - "/var/log/cyanite/cyanite.log"
inputs:
  \- type: "carbon"
    port: 2004
    host: 0.0.0.0
store:
  type: "cassandra-v2"
  cluster: "10.188.241.49"
index:
  type: "

[2015-08-26 09:32] gmlwall commented on #125
so further to my port testing;

if i netcat to
localhost = ok
127.0.01 = ok
0.0.0.0 = ok
IP addr = fail

this would explain why the LB cant connect to it, however as mentioned above its ignoring my config to bind to 0.0.0.0,

[2015-08-26 10:06] gmlwall commented on #125
further to this, none of the arguments under

\- input

are taken, however the rest seem to apply.

[2015-08-26 11:00] gmlwall opened #126 "Stuck in DEBUG / doesnt accept -q arg"
Even when overriding in the config, the log level is still set to DEBUG.
Passing in the -q option to the jar still outputs everything to the terminal.

[2015-08-26 11:12] gmlwall opened #127 "Scaling Suggestions for 2M+ metrics"
Hi, our current graphite install is becoming quite hard to manage, but does somewhere in the region of 2M metrics per min.
Cyanite looks very promising, but ive hit a few stumbling blocks as raised in my other tickets.

However sending 1/8th of the traffic to this instance resulted in alot of stack traces/ not being able to deal with the I/O

java.lang.IllegalStateExcpetion: Queue full

In not usi

[2015-08-26 11:17] gmlwall commented on #121
I am also trying to P.O.C this and as soon as i send 1/8th of our prod traffic to the cyanite process i receive these errors straight away.
As mentioned  by AnderEnder, graphite-carbon can deal with this load (actually 1/4 of total load) although the caveat to this is 1/4 over carbon-c-relay, relaying to 9 carbon processes.

Was this an issue in previous versions?

[2015-08-26 14:56] gmlwall commented on #125
ok the issue with it not picking up the config was

inputs

should be input

http://cyanite.io/quickstart.html#requirements has the config as inputs and i had copy/pasted that. :)

[2015-09-01 18:49] alangibson commented on #119
Hi @pyr, just another friendly ping on this issue. I'm prepping an internal demo for metrics solutions for early next week and I'd really like to include Cyanite + Grafana.

[2015-09-01 23:14] nherson commented on #121
I am in the exact same situation as @gmlwall, this error starts right away almost immediately after cyanite starts up. Similarly, I know my standard graphite-carbon stack can handle this load.  Also, I have used the `cassandra-stress` tool and I don't believe there are issues with my cassandra setup. Has anyone been looking into this and found anything helpful?

[2015-09-02 17:50] tjamesturner commented on #103
this enhancement seems even more valuable now that #80 has been implemented. while performance tuning our system this is starting to look like the most valuable change besides increasing hardware.

[2015-09-03 03:28] sunilpandit commented on #103
Hi

can you provide sample configuration ?

Also what code have you changed ?

Thanks
Sunil

[2015-09-03 14:18] gmlwall commented on #121
i added the following to the config to try to give the process a bit more headroom

queues:
  default-poolsize: 24
  queue-capacity: 100000

Where default-poolsize: (no. of CPU cores on your server)

to ensure it wasn't limited by CPU usage, it lasted a bit longer before the I/O errors appeared but not tool long :(

[2015-09-09 14:22] tjamesturner commented on #103
i have implemented a fix for this by simply appending the ttl value to the table name (e.g. metrics are stored in "metric_ttl86400" rather than "metric").  i simply branched from the latest revision of cyanite 0.1.3 and changed a few lines in store.clj.  you can see the revision here: https://github.com/tjamesturner/cyanite/commit/31bcbea05b300dbbe3475760914e23144ded7440

if you wish to use the fe

[2015-09-09 18:10] tjamesturner opened #129 "select paths individually in parallel rather than using "in clause""
our cyanite stack performs substantially better if we request paths individually rather than in bulk.  specifically, if we request 100 metrics in a single select query, it takes roughly 10 times longer than selecting those same 100 metrics one at a time.  this seems to be a problem with heap space on the coordinating cassandra node.  as such, i suggest we change the fetch query to retrieve one met

[2015-09-09 18:18] tjamesturner commented on #122
why not set the batch_size to 1?  there is nothing transactional about the data and there are no duplicate writes to coalesce, so there should be no performance benefit to larger batches only increased coordination costs. am i missing something?

a reference for your consideration:
http://christopher-batey.blogspot.com/2015/02/cassandra-anti-pattern-misuse-of.html

[2015-09-10 01:21] emanuelis commented on #119
Are there any workarounds for this problem? I do really need to setup Cyanite+Grafana. Or are there any other compatible frontends?

[2015-09-10 02:19] cberry777 commented on #119
Unfortunately, as far as I know, it is broken for all graphite front-ends, including graphite-web.
I am hoping I do not have to roll back to a previous version, as this version has the new schema, and I'd rather not load all my metrics into the obsolete schema.
I don't know clojure, or I'd jump in and fix it...
Cheers,
- Chris

From: Emanuelis <notifications@github.com<mailto:notifications@github.

[2015-09-10 08:58] TransactCharlie commented on #119
Hi. @cberry777

When I was looking into this I got the impression that the way that the metrics paths are stored in cyanite (either in memory or in elastic search is currently a work in progress).

The older versions had a tree like schema where items were designated as leaves or nodes and a search retrieved much less entries that now.

That's why I don't think it's just a matter of *fixing* the c

[2015-09-10 09:00] TransactCharlie commented on #119
@pyr don't suppose you have some design docs or a simple way you can post what you need to happen with the index? If so maybe someone can actually implement it for you if you are snowed under with other commitments.

I've finally got into clojure for another project (ironically making a dsl for people to define their metrics from arbitrary sources). So I *think* I might be able to make some progre

[2015-09-11 23:00] tjamesturner commented on #46
it is worth noting that you can work around this limitation by using multiple carbon-c-relays and multiple cyanites to pre-aggregate data in the larger retention periods.

basically, you configure a carbon-c-relay/cyanite pair for each retention period to handle incoming metrics (write requests). then you have 1 more cyanite to handle read requests.  each write cyanite only knows about a single re

[2015-09-15 14:32] cberry777 commented on #119
I suppose I will have to roll back to a previous point in the git history, as we would really like to begin a large scale load test of cyanite very soon. Because cyanite doesn't tag releases or milestones, that is easier said than done. Can anyone point me at the last known, stable commit in github??

It is unfortunate that the current work on master (all of which looks like great improvements BTW

[2015-09-21 10:54] valentinul opened #130 "Cannot render metrics in graphana"
Hi guys,

I just made a logging setup composed of

- graphana (2.1.3)
- graphite-api (latest)
- cyanite (latest)
- cassandra (latest)

Unfortunately after spending hours and hours trying to graph some metrics in graphana, it's simple impossible to make it work.
It seems that cyanite is crashing at some point and refusing to communicate with graphite-api after some point in time.

I'm starting cyan

[2015-09-22 10:11] jippi opened #131 "io.netty.channel.DefaultChannelPipeline An exceptionCaught()"
With latest `master` HEAD commit

[code]

[2015-09-22 10:13] jippi commented on #131
nothing is ever flushed to cassandra

[2015-09-22 10:36] jippi commented on #131
Now I'm seeing this

[code]

[2015-09-22 10:57] jippi commented on #131
after spending a few hours trying to get it work, I'm reverting back to the old version - seems like the refactor caused it to require excessive amount of CPU, RAM and not being able to follow a few 100k writes a minute :(

[2015-09-22 11:27] jippi commented on #131
post-frustration, I'm really grateful for the project and the time you spend maintaining it :)

[2015-09-25 14:51] iain-buclaw-sociomantic commented on #119
@TransactCharlie - this is what I came up with very briefly to get it working:
[code]
Then in find_nodes:
[code]

It would have been better had it just worked out the box though. ;-)

[2015-09-26 20:21] TransactCharlie commented on #119
thanks for that @iain-buclaw-sociomantic

Have you tested with some different filter permutations -- such as the { } ones? I'm not sure if cyanite successfully retrieves metric paths at this point

[2015-09-28 09:40] szop85 commented on #130
Hey @ valentinul,

how did you install your setup? I'm finished mine today and already gathering metrics and I'm also able to use them in Grafana via Graphite-API:

[code]

Maybe I can help you out somehow.

![screen shot 2015-09-28 at 11 40 05](https://cloud.githubusercontent.com/assets/2103595/10132226/b2ded918-65d5-11e5-8af7-bc4bc04ecb7c.png)

Cheers,
Szop

[2015-09-28 09:53] genericgithubuser opened #132 "metrics not written"
I setup a cyanite proof of concept.
Cassandra schema created with: https://raw.githubusercontent.com/pyr/cyanite/master/doc/schema.cql
cyanite config is identical to this one, except with the logging level set to debug: https://raw.githubusercontent.com/pyr/cyanite/master/doc/cyanite.yaml

Cyanite seems to correctly connect to the cassandra instance.  If I drop the keyspace in cassandra, cyanite p

[2015-09-28 10:14] iain-buclaw-sociomantic commented on #119
The { } permutations look to be working just fine, eg: this retrieves what I expect to see:
```http://localhost:8080/paths?query=eu-*.cpu-{0,3}.cpu-{system,user,wait,idle}.value```
And I can walk through the grafana metrics interface selecting each individual step.

[2015-09-28 11:02] genericgithubuser commented on #132
The test was starting with just writing 2 metrics. It still wasn't getting written after trying to write the 2 metrics every second for ~5-10 minutes.  I bumped it up to try more metric writes at a time, and then it began writing them out.

[2015-09-28 11:02] #132 closed

[2015-09-28 12:25] szop85 commented on #130
Ok I've managed it to install Cyanite 0.5.1. Please provide your steps so I can help you out and compare with mine.

Cheers,
Szop

[2015-09-28 13:54] szop85 commented on #130
It seem's like I've run into a annoying bug. Graphite-API and Cyanite are playing well until collectd/diamonds sends it's first metrics to port 2003 (carbon on Cyanite):

[code]

After that I've to restart Cyanite :/. It was working without a problem with version 0.1

[2015-09-29 08:40] szop85 opened #133 "while scanning a double-quoted scalar; found unknown escape character"
Hey,

I'm using the master example configuration .yaml from doc/cyanite.yaml. Guess following line is producing an error:

[code]
[code]

Cheers,
Szop

[2015-09-29 11:50] szop85 commented on #130
I've found out,

my Graphite-API is not "crashing" anymore with commit: 5433d57, but I'm still not able to receive Metrics in Grafana.

Cheers,
Szop

[2015-10-02 14:24] pyr commented on #121
@altvnk I will be starting to introduce graphite-stresser to validate further commits and resolve this issue, thanks.

[2015-10-02 14:57] pyr commented on #127
Hi @gmlwall i'm starting to look into this particular issue

[2015-10-04 14:05] altvnk commented on #121
Sure.
I used 1024M for both -Xmx/-Xms java startup line. And as i remember i used 100 hosts, 128 times and 01 sec reporting interval. Like this: `java -jar stresser.jar 127.0.0.1 2003 100 128 10 true`

[2015-10-04 14:09] altvnk commented on #121
Off topic: Also i've run into issues with `graphite-api`, when no grafana cannot connect and reach any metrics. I forgot details, but if you guys are going to work on these projects again i would file issues with pleasure, because i'm seriously interested in this project. Unfortunately i don't have any experience with Clojure or Java at all so i cannot contribute.

[2015-10-05 07:21] pyr commented on #121
@altvnk Hi thanks for the feedback. the latest commit helps a lot, but doesn't solve all issues. I'm working on fixing the behavior. The issue with graphite-api is known and registered, i'm currently changing the way cyanite interacts with grafana.

Cheers!

[2015-10-05 10:00] valentinul commented on #130
Hi guys,

Yes, the issue is present in the latest code but I'm going to try the #14 patch and see if that works for me. Thank you @szop85 and @brutasse for the time and effort invested in this issue :)

All the best,
Valentin

[2015-10-05 10:00] #130 closed

[2015-10-06 09:22] pyr commented on #121
Hi @altvnk,

I'm nearing the end of my work on wip/instrumented. I haven't tested the index write-path just yet, but going to cassandra I can now push with `java -jar stresser.jar 127.0.0.1 2003 100 128 2 true` (so same config, but every 2 sec) with the following config:

[code]

Note how you can now provide per-queue defaults. The trick here is to give the inputq some room to breathe.

There are

[2015-10-06 09:25] altvnk commented on #121
Awesome! Will take a look into it again as soon as possible.

[2015-10-06 14:24] pyr commented on #127
hi @gmlwall with the most recent commit, and if you follow the recommendation in #121 to provision sufficient space in your ingestq and writeq, this should now work as expected. May we continue any additional discussion on this in #121 ?

[2015-10-06 14:24] #127 closed

[2015-10-06 14:26] pyr commented on #133
Hi @szop85, thanks for reporting this, there was a typo in the example config, in this case the backslash should be escaped. I updated the example config.

[2015-10-06 14:26] #133 closed

[2015-10-06 14:34] pyr commented on #129
Thanks @tjamesturner. Interesting approach, I'll take on this once the query API is updated.

[2015-10-06 14:36] pyr commented on #131
Hi @jippi, sorry for the hurdles. This is a duplicate of #121 which #134 fixed. i'm testing with 6M writes/min and have no trouble keeping up.

[2015-10-06 14:38] pyr commented on #122
@dgeorgievski in the upcoming cyanite release, there are no batches. thanks for reporting.

[2015-10-06 14:38] #122 closed

[2015-10-06 14:38] #131 closed

[2015-10-06 14:39] pyr commented on #126
@gmlwall I can confirm this behavior.

[2015-10-06 14:40] pyr commented on #125
thanks for spotting the error @gmlwall

[2015-10-06 14:40] #125 closed

[2015-10-06 14:42] pyr commented on #121
@AnderEnder @gmlwall @jeffpierce @nherson

#134 fixes this issue and should be satisfactory. Please pay attention to your index configuratin. I recommend opting for the elasticsearch index if you're in a real world scenario.

I'm leaving this issue open for now.

[2015-10-06 14:44] pyr commented on #123
@AnderEnder interesting, you're pushing a high volume through pickle ? may i ask that you try again now that #134 landed ?

[2015-10-09 13:04] altvnk commented on #121
Not sure what i'm doing wrong, but i have empty metrics in Cassandra.
[code]
Schema is created from [schema.cql](https://github.com/pyr/cyanite/blob/master/doc/schema.cql)
The most strange thing that cyanite receives metrics from python-diamond and stresser. So i'm wondering - where are they stored then?
PS: `127.0.0.1:8080/paths` returns empty array as well.

[2015-10-09 17:20] pyr commented on #121
Hi @altvnk,

With the above config, the index will not be provisioned since I use the "empty" indexer.
But I am seeing metrics pushed to cassandra, what is your flush period? (or better, can you paste the config that you use here?)

Cheers!

[2015-10-09 18:03] altvnk commented on #121
Right, I changed index to memory, forgot to note this.
Anyway, I'll post my config here in a moment.

[2015-10-09 18:37] altvnk commented on #121
Ok, i've changed only index to `memory` and carbon listen address to `0.0.0.0`. Cassandra settings are defaults. What i should verify?

[2015-10-09 20:35] altvnk commented on #121
Sorry for confusion, tested on another cassandra cluster, metrics are writing.

Now, about original issue: performance is increased and now i'm not seeing error messages anymore.

[2015-10-14 16:23] hryamzik opened #135 "WARN io.cyanite.engine.queue queue is full, no metrics"
I've just changed y index type from memory to elasticsearch. Here's my configuration:

[code]

I do have metrics in cassandra as everything worked with "memory" index. Metrics names appeared in ES and I get there names at ```http://cyanite:8080/paths?query=*```. But all the datasets return empty, for example:

[code]

This message appears in logs repeatedly:

[code]

And here's some log lines from

[2015-10-15 06:41] pyr commented on #135
Hi @hryamzik,

You will need to work with the queue settings for both `ingestq` and `writeq`, I will bump the default value before finishing up the release.

I suggest you take inspiration from https://github.com/pyr/cyanite/issues/121#issuecomment-145795928

[2015-10-15 15:35] pyr commented on #135
Closing this for now, since #121 takes care of it.

[2015-10-15 15:35] #135 closed

[2015-10-15 21:15] pyr opened #136 "Direct grafana integration."
Cyanite should be able to interact with Grafana directly directly.

For this it needs:

- [ ] A query parser
- [ ] Globbing path searches
- [ ] A new API route to service these queries.

[2015-10-15 22:28] daxomatic commented on #136
I would love to try this. Is it ready for some initial testing?

[2015-10-16 06:39] pyr commented on #136
Hi @daxomatic !

The last item - a new API route for queries - needs to be done first. The work to service queries is done, all I need to do is to run normalization on the paths found to ensure operations will occur on homomorphous series.

[2015-10-16 09:44] pyr commented on #27
@feangulo I started metric integration

[2015-10-16 09:45] pyr commented on #119
#137 should fix this issue.

[2015-10-16 12:31] #126 closed

[2015-10-16 12:32] pyr commented on #126
The default logging configuration provided an `overrides` key which installed an override for the `io.cyanite` logger, as well as its children. This is now fixed.

[2015-10-16 12:40] #119 closed

[2015-10-16 21:41] lrsmith opened #138 "Trouble connecting to cassandra with latest cyanite release"
I'm having trouble starting up cyanite on:

jdk1.8.0_25-1.8.0_25-fcs.x86_64
Cassandra 2.1
cyanite-0.5.1
Centos 6.6

I see a warning then an error. In my store stanza I specify username, password, keyspace and cluster. I downloaded the latest cyanite, from master.  I've also verified I can connect to the cassandra cluster from the host using the username and password, to the cluster. So it is not a

[2015-10-17 06:15] pyr commented on #136
Here is the initial list of implemented functions:

- `scale`
- `absolute`
- `didvideSeries`
- `sumSeries`

[2015-10-18 02:50] punnie opened #139 "Release URL in the documentation 404s"
The link in the docs points to https://github.com/exoscale/cyanite/releases/latest, and it 404s to me—maybe that's a private repo? :wink:

[2015-10-18 23:17] daxomatic commented on #136
Hi Pierre! :-)

I am looking at the recent updates, and it seems you are pretty busy, but
it seems really promising.
I hope i can help you with some testing and then some more.
I think you got an invite, lets talk about this.

Kind regards
Dax

On Sat, Oct 17, 2015 at 8:15 AM, Pierre-Yves Ritschard <
notifications@github.com> wrote:

[2015-10-19 06:58] pyr commented on #136
Hi @daxomatic,

Basic support is now working. A path fetching a single series may now be displayed directly in grafana.
Most of the work will now revolve around two things:

- Making sure we're formatting series correctly for grafana
- Testing the DSL for edge cases.

[2015-10-19 07:43] pyr commented on #138
Hi @lrsmith,

Can you paste your indented config here ?

[2015-10-19 07:44] pyr commented on #139
Hi @punnie, that's a typo

[2015-10-19 07:47] pyr commented on #139
The updated docs are now pushed. There still is no official release for now

[2015-10-19 07:47] #139 closed

[2015-10-19 07:49] pyr commented on #121
Hi @altvnk,

Thanks for your help in testing this. I will close this ticket for now and focus on finishing the direct grafana integration.

Sounds as if the release is getting really close now :-)

[2015-10-19 07:49] #121 closed

[2015-10-19 13:22] lrsmith commented on #138
logging:
  level: debug
  console: true
  files:
    - "/tmp/cyanite.log"

inputs:
  - type: carbon
    port: 2003
  - type: pickle
    port: 2004

api:
  port: 8080

engine:
  rules:
    default: [ "5s:1h" ]

store:
  cluster: '1.2.9.3'
  keyspace: 'metric'
  username: 'my_user'
  password: 'my_password'

[2015-10-19 13:43] jippi commented on #138
@lrsmith can you paste it again with ``` around it, so the indent is preserved

[2015-10-19 14:26] emanuelis commented on #116
Last build today gives the warning on stop.

[2015-10-19 14:26] lrsmith commented on #138
Fixed it above. thanks.

[2015-10-19 20:10] hryamzik opened #140 "No method in multimethod 'build-index' for dispatch value: :elasticsearch"
Cyanite with ES based index fails to start with the following message:

[code]

And it seems like a new issue as the same config worked for me a week ago in a similar environment. Manual index creation doesn't help.

[2015-10-20 08:02] pyr commented on #140
Hi @hryamzik,

As I was mentioning in #137 the ES index is gone for now since it is now possible to index metrics in Cassandra directly. I'll probably make the the index come back in a short-while. Right now there are two possible options for indexing `agent` (in memory) and `cassandra`

[2015-10-20 08:02] #140 closed

[2015-10-20 08:19] tobiasthurow opened #141 "extra configuration file for cassandra"
Hi, i would like to specify cassandra configurations in an extra config file to seperate database configuration from application configuration. Therefore it would be nice to import more than one config file.
Could you add either the support for giving additional files as parameters to the application or to include them in the existing one?

[2015-10-20 08:31] pyr commented on #141
Hi @tobiasthurow,

Can you paste here a collection of mock configuration files as you would expect them. I fail to see the use-case for now.

[2015-10-20 08:50] tobiasthurow commented on #141
There are several applications running with cassandra so the use would be to collect all these configurations in a single directory. On the other side the application based configuration is located in an other directory.

In one config there would be the information about the functions it provides:
[code]

In an other config cassandra data would be defined:
[code]

[2015-10-20 08:56] pyr commented on #141
I think this is a need better served by common Configuration Management tools such as puppet, chef, ansible and friends.

If you're not relying on any configuration management tools, I'd suggest having a small shell pre-processor which would run before launching the daemon.

I don't expect to work on the configuration loading code for the foreseeable future and I don't think I want to move away fr

[2015-10-20 08:56] #141 closed

[2015-10-20 09:41] hryamzik commented on #140
Wow, that's good news indeed! I'll give ```cassandra``` option a try, thanks!

[2015-10-20 10:08] emanuelis opened #142 "Problems with indexes on ElasticSearch"
Hi. I installed latest Cyanite from git. It works with memory indexes but not with ElasticSearch.

If I configure only:
[code]
Cyanite ignores it and uses memory.

If I configure:
[code]
Cyanite ignores it and uses memory.

If I configure:
[code]
Cyanite dies on startup with:
[code]

Is this a bug or my misconfiguration? How to configure ElasticSearch properly? Do I need to create index in ES by h

[2015-10-20 13:35] pyr commented on #142
Hi @emanuelis,

As I was mentioning in #137 the ES index is gone for now since it is now possible to index metrics in Cassandra directly. I'll probably make the the index come back in a short-while. Right now there are two possible options for indexing agent (in memory) and cassandra

[2015-10-20 13:35] #142 closed

[2015-10-20 13:39] chjohnst commented on #142
What's the performance overhead of indexing in Cassandra in comparison to
ES?
On Oct 20, 2015 9:35 AM, "Pierre-Yves Ritschard" <notifications@github.com>
wrote:

[2015-10-20 13:41] pyr commented on #138
@lrsmith The error is due to an unreachable cluster. The error is a bit buried in the stack-trace:

[code]

[2015-10-20 13:42] pyr commented on #142
Hi @chjohnst,

It still passes the 200k metric/s test with a 512m fixed heap.
The indexing technique is described in #137.

[2015-10-20 13:48] chjohnst commented on #142
Going to try your latest code drop on some new keyspaces I'm putting
together, will report some feedback in the coming days on issues I find.
My Cassandra and cyanite deployment is getting pretty big!
On Oct 20, 2015 9:42 AM, "Pierre-Yves Ritschard" <notifications@github.com>
wrote:

[2015-10-20 13:52] pyr commented on #142
Hi @chjohnst,

Thanks a lot! If your deployment is big you will need to adjust your queue-sizes to avoid the dreaded "Queue Full" messages. The description here will help: https://github.com/pyr/cyanite/issues/121#issuecomment-145795928

FWIW, I have several reports of cyanite now correctly working with graphite-api. The remaining work needed for a release to make it is https://github.com/pyr/cyan

[2015-10-20 14:04] lrsmith commented on #138
@pyr I've verified with the cqlsh command, on the host in question, that I can actually connect to the cluster and the metric database, with the user and password from the config. I'll double check but it only seem to by the cyanite code that is having the problem.

[2015-10-20 14:31] #138 closed

[2015-10-20 14:32] pyr commented on #138
@lrsmith I was handing out an incorrect map to the underlying cassandra driver. Sorry about this!

[2015-10-20 19:39] sgran opened #143 "Upgrade issues"
Hi,

It looks like the schema has changed incompatibly - this would be fine by itself, but there doesn't seem to be an upgrade path, and I'd rather not lose all my old data.  I briefly considered just reinjecting the data in cassandra to a new version of cyanite and failing over that way, but it seems cyanite sets the ttl based on the receive time, rather than on the time of the metric event (or t

[2015-10-20 19:41] pyr commented on #143
Hi @sgran,

My plan is to provide a `cassandra-v1` store implementation as well which will target the old schema.

[2015-10-20 19:50] sgran commented on #143
Hi,

That's also good :)

The new schema looks worthwhile to upgrade to, and I'm happy to put in the time on our side.  I'm just hoping for some help from someone who knows the terrain a bit better so we do it safely.

[2015-10-20 19:52] pyr commented on #143
Hi,

The new schema is indeed more interesting in the long run. Is a
double-write scenario feasible for you? If so it might be a good course
of action (i.e: double write until oldest data in cassandra-v1 expires,
then going back to cassandra-v2 writes only).

Cheers!

On 10/20/2015 09:50 PM, Stephen Gran wrote:

[2015-10-20 19:55] sgran commented on #143
I think that's still double storage - then I might as well just reingest v1 data into the v2-store enabled api.

I'm hoping for a process that looks roughly like:
read in v1 row
write out v2 row into new keyspace or table, setting ttl to ttl of old record
delete v1 row

This sort of operation is expensive on cassandra, I know, but I don't have any other bright ideas.  I also know we'll carry the t

[2015-10-20 19:56] pyr commented on #143
If you go that route, you'll want to use the sstableloader features of
cassandra, which make bulk imports much more efficient. Happy to expand
on this next week.

Cheers!

On 10/20/2015 09:55 PM, Stephen Gran wrote:

[2015-10-20 19:57] sgran commented on #143
that would be excellent - I look forward to it!

Thanks,

[2015-10-20 23:14] lrsmith commented on #138
pyr. Thank you everything looks much better now. Thanks

[2015-10-21 14:09] emanuelis commented on #5
Needed

[2015-10-21 14:36] hryamzik opened #144 "invalid carbon line: NaN metric"
This issue was already mentioned in #135 but turned out to be a separate one. Here's the log:

[code]

It would be nice to see the problematic metric in log.

[2015-10-21 15:10] emanuelis opened #145 "Memory leak?"
Hi,
half a minute after cyanite restart it stopped showing graphs in Grafana. This is what I found in log:
[code]
18:01:30 is the exact time when graphs stopped showing new data.

[2015-10-22 03:34] jshook opened #146 "Stable Release milestones"
PYR,

I'm trying to integrate a newer version of cyanite into some other testing work. It looks like the code base is in a state of flux at the moment.

I tried the current master, but there are are stack traces starting with:
clojure.lang.ExceptionInfo: Error in component :index in system clojure.lang.PersistentArrayMap calling #'com.stuartsierra.component/start
Caused by: java.lang.ClassCastExce

[2015-10-22 03:35] jshook commented on #146
Just for additional info, I've included the stack trace below:

clojure.lang.ExceptionInfo: Error in component :index in system clojure.lang.PersistentArrayMap calling #'com.stuartsierra.component/start
        at clojure.core$ex_info.invokeStatic(core.clj:4610) ~[cyanite-0.5.1-standalone.jar:na]
        at clojure.core$ex_info.invoke(core.clj) ~[cyanite-0.5.1-standalone.jar:na]
        at com.stu

[2015-10-22 03:41] jshook opened #147 "Useful DTCS parameters for the metrics table"
This is the configuration I would suggest for compaction on the metrics table only:

    compaction = {'class': 'DateTieredCompactionStrategy',
    'min_threshold': '12', 'max_threshold': '32',
    'max_sstable_age_days': '0.083', 'base_time_seconds': '50' }

This causes most compaction activity to occur at 10m and 2h windows. If you want to allow 24h windows, simply raise max_sstable_age days to

[2015-10-22 05:07] jshook commented on #136
I'm eager to test this as well.

[2015-10-22 05:10] jshook commented on #144
+1 seeing it as well. I'd like this to be caught and logged as a single line with the offending input.

[2015-10-22 05:12] jshook opened #148 "Better details on pool and queues in the logs"
Better details on pools and queues in the log. How full is full? Are these configurable?

    WARN [2015-10-22 05:10:18,227] pool-8-thread-1 - io.cyanite.engine.queue queue is full

This could be related to the issue with *clojure.lang.ExceptionInfo: invalid carbon line: NaN metric* spamming the worker pool.

[2015-10-22 07:26] brutasse commented on #146
@jshook Hi, @pyr is away for a couple of days… Right now master is definitely the latest and greatest & works fine with graphite-api and grafana. I think pyr wants to have direct grafana integration completely done (#136) before making a new release.

[2015-10-22 16:50] jshook commented on #146
Thank you for the update, @brutasse
I will continue working with master.

[2015-10-22 19:29] emanuelis opened #149 "Problems with queues/GC/Agent/connections/?"
Hi, today I upgraded Cyanite to the "latest and gratest" ((c) @brutasse). And after ~5 hours of normal running it stopped collecting data. Log doesn't say much to me.

Many such warnings:
[code]
And later many:
[code]

My config is:
[code]

What can I do to make Cyanite more stable?

[2015-10-22 21:20] hryamzik commented on #145
I face this as well...

[2015-10-22 21:25] hryamzik opened #150 "interval resolutions issue"
I've taken resolutions from grafana source code and put the my cyanite config:

[code]

And once I zoom out to ```6h``` the data is empty. So I had to put ```1m``` for all the intervals higher than ```6h``` and it does slow down the UI.

I suppose this issue should be represented in #136 testing...

[2015-10-22 21:33] hryamzik commented on #150
One more thing that seems to be resolution-related, here's how zoom outs work with the setting I've mentioned above:

![image](https://cloud.githubusercontent.com/assets/1643962/10678860/9ed10468-791d-11e5-8b6b-8e95cb6888e4.png)

[2015-10-23 16:07] jshook commented on #144
PR #151 includes a simple change to show the paths in this exception

[2015-10-23 17:50] hryamzik opened #152 "com.datastax.driver.core.exceptions.WriteTimeoutException"
Just found this in logs. Would be nice to catch these exceptions...

[code]

[2015-10-26 15:21] pyr commented on #146
Hi @jshook,

@brutasse is right about the status. #136 + stability and perf tests are the remaining items before doing the first real cyanite release. I hope to finish up soon.

[2015-10-26 15:21] #146 closed

[2015-10-26 15:24] pyr commented on #5
Hi @emanuelis,

Can you explain what motivates the need in your opinion?
In any case this will be pushed to a later release.

Cheers!

[2015-10-26 15:25] pyr commented on #147
Hi @jshook,

Would you mind submitting a PR to the documentation sub-directory (`doc`) with this example configuration. This seems like it would be a great addition.

Cheers,
   - pyr

[2015-10-26 15:26] pyr commented on #148
Hi @jshook,

This will soon be added to the documentation and I will provide better defaults for the queue sizes.
I added hints as to what values to use there:

https://github.com/pyr/cyanite/issues/121#issuecomment-145795928

[2015-10-26 15:29] pyr commented on #149
Hi @emanuelis,

If you have many paths, I suggest you switch to the `cassandra` type of index, not the in-memory one. The first stack-trace you posted is due to unreachable cassandra nodes, see the "Caused by" line of the logs:

[2015-10-26 15:29] pyr commented on #145
Hi @emanuelis,

Are you using the Pickle input?

[2015-10-26 15:30] pyr commented on #145
@hryamzik are you using carbon or pickle input?

[2015-10-26 15:32] pyr commented on #152
Hi @hryamzik,

There's not much cyanite can do if cassandra is unavailable. If you're willing to sacrifice consistency, you can tune down the CL to ONE (see the write-consistency setting in the documentation).

[2015-10-26 15:32] #152 closed

[2015-10-26 15:42] hryamzik commented on #145
@pyr carbon, with statsd on top.

[2015-10-26 16:49] hryamzik commented on #152
I would expect cyanite to catch this and put a single line error in log, not a full stack...

[2015-10-26 18:38] emanuelis commented on #5
Thousands of monitored hosts via mobile/slow internet having very limited resources.

[2015-10-26 18:40] emanuelis commented on #145
Carbon.

[2015-10-26 18:45] emanuelis commented on #149
Cassandra indexes were too slow to work with Grafana.
Actually at the moment I had to suspend the deployment of Cyanite due to numerous bugs and switch to other product :(

[2015-10-26 20:41] pyr commented on #5
@emanuelis Thanks, I'm happy to reconsider this choice. I will make the necessary changes to finish up the first release and will integrate this in the next one.

[2015-10-27 15:48] pyr commented on #149
@emanuelis sorry to hear that. I'm trying to get a first stable release out soon.

[2015-10-27 15:48] #149 closed

[2015-10-27 16:04] pyr commented on #145
@hryamzik  @emanuelis this should fix the issue, thanks for pointing it out.

[2015-10-28 15:26] spynode opened #154 "High Cassandra writes/second"
With Cyanite built from develop, when sending ~250K metrics/minute, I see very high Cassandra write operation ratio - 2,5K - 3K writes/second!

My guess would be that Cyanite does not do any sort of write batching and sends individual metric write queries to Cassandra. Eventually, after ~5 minutes Cassandra clogs up (mostly due to GC) and Cyanite throws

[code]

I haven't been able to tune Cassand

[2015-10-28 15:44] spynode opened #155 "Cassandra index does not work"
When using Cassandra as index, with keyspace metric and schema provided in https://github.com/pyr/cyanite/blob/master/doc/schema.cql, Cyanite throws exception:

[code]

Is this schema problem and if so, where optimal schema for index keyspace can be found?

[2015-10-28 16:04] aww-yiss commented on #155
I also encountered this error, however it was due to a misconfiguration I made in the cyanite.yaml for the index. Here is an exampled of a structure that is working for me today for 0.5.1:

[code]

I think this is a fairly new feature and the documentation needs to be updated to make this a bit more apparent.

If this  doesn't correct the issue can you also post your cyanite.yaml config?

[2015-11-02 14:09] luxifr opened #156 "Cassandra index super slow"
I gave the cassandra index a try and it seems super slow... it takes about a second for a path query, which is way too high for any meaningful use...

how do I debug this?

[2015-11-03 00:31] hryamzik opened #157 "io.cyanite.http http server exception caught"
I get the following error when connecting to graphite-api in grafana direct mode:

[code]

This also breaks all the graphs. Works fine in proxy mode but.

[2015-11-03 15:29] rrudduck commented on #154
Cassandra should easily be able to handle that write load. What kind of machines is your cluster running on?

[2015-11-03 15:44] altvnk commented on #154
I have testing lab where Cassandra hits ~40k writes/s (50iops per node disk)
3 instances of Cyanite (512m heap, 0.5cpu each)

[2015-11-04 14:54] aww-yiss opened #158 "WARN - io.cyanite.input.pickle cannot deserialize pickle"
Hello, I've got cyanite accepting plaintext metrics and insert them into cassandra, then query them back out using the graphite-api and the graphite-cyanite finder. Works well so far :)

I'm trying to implement a side by side comparison of cyanite with an existing graphite setup, and have added the cyanite collector as a destination for the existing carbon-relay, and using relay-rules.conf to send

[2015-11-09 12:44] TheElectricCapybara commented on #156
Confirming issues with Cassandra index performance, it appears to have big issues resolving wildcards as well.

[2015-11-09 22:49] genericgithubuser commented on #156
The new cassandra index is showing a second to few second delay here as well.  We are trying to get this spun up to support a fairly decent sized production instance, so this poses a bit of a problem since we can not go live like this.  Is the long term plan to continue to support elasticsearch as an index option?  If so, we will revert to the previous version we were testing against and continue

[2015-11-12 19:22] dalassi opened #159 "Null Point and ID"
Hi,

I built Cyanite from Master and deployed it with Java 1.8. I have an existing running setup of Graphite+Grafana. I wanted to have Cyanite+Cassandra for storage for better performance. I switched one Collectd instance that had been running fine to send the data points to the Cyanite instance on a new port. I see the data points coming through into Cassandra (metric table). The problem is that

[2015-11-18 12:55] ajazam opened #162 "Supported version of cassandra"
Hello,
The cyanite docs which cassandra 2.1 or later are supported. Has anybody tested cyanite with either 2.2 or 3.0?

[2015-11-18 12:55] aww-yiss commented on #158
Still not a lot of luck getting this working, though I have spent some time with the carbon-c-relay project, and have had some good results there.

What version of pickle is supported? The graphite instance i'm using for testing is rather old (0.9.10) and using python 2.6 libraries.

[2015-11-18 12:58] aww-yiss commented on #162
I've tested this out with cassandra 2.1.10 without issues as I'm planning on going to production with this shortly, I don't believe 2.2 or 3.0 are stabile enough for this use case.

[2015-11-18 14:34] ajazam commented on #162
Ok. I'll stay with 2.1.x

[2015-11-18 14:34] #162 closed

[2015-11-23 14:04] genericgithubuser commented on #158
We see the same exception.  The stats are forwarded from graphite 0.9.9 relay.  Looks like it'll use pickle protocol v2.  Any known incompatibilities or workarounds for this one?

[2015-11-26 14:52] hryamzik commented on #136
Hi @pyr, do you have any ETA for this?

[2015-12-03 18:57] genericgithubuser opened #163 "Input filtering"
I'd like to be able to filter data coming into cyanite to restrict it to a valid character set.  I was hoping to be able to just edit carbon.clj and add something like this, but it doesn't seem to actually work (I am completely clojure ignorant).  Anyone familiar enough to be able to shed some light on how this should look to actually get it to drop metrics that have invalid characters in them?

[2015-12-03 19:33] genericgithubuser commented on #163
oops, that's horrible... Should have have had path in the re-find line instead of metric. I guess I am more tired then I realized...

[2015-12-03 19:33] #163 closed

[2016-01-07 11:27] jippi commented on #147
I can also recommend not using DTCS at all, and instead use TWCS - https://github.com/jeffjirsa/twcs

[2016-01-08 18:26] eckardt commented on #156
We also found that the reads from the cassandra index are slow. Our testing setup is a single server with HDD, storing ~30000 metric paths.

There is one query for getting paths matching a given pattern which is taking especially long: https://github.com/pyr/cyanite/blob/5cdda22246f4725d9fc1e44e504efcf305c70b1c/src/io/cyanite/index/cassandra.clj#L30

One tweak that helped us improve the read perfo

[2016-01-27 08:41] ifesdjeen opened #165 "Add tags for released versions (maybe at least for the last one)"
Hi!

Could you add a git tag for the last released version so that it'd be possible to rely on at least some stability giving the lack of binary releases? This way it'd be possible to integrate building cyanite into some CI pipeline (that some people might want to do) and checkout the tag instead of checking out the commit SHA.

Thanks!

[2016-01-27 16:54] pyr commented on #165
Hey!

I plan on doing a tagged release, unfortunately, no official release has been published yet. Cyanite still needs a bit of love in several places before this becomes a reality.

[2016-01-27 19:07] ifesdjeen commented on #165
Oh, i see. Do you need help with anything? If there's a roadmap I could help.

[2016-01-28 06:43] pyr commented on #165
Help would be great, on several fronts. (I'll need some time to write things down).

[2016-01-28 06:43] #165 closed

[2016-01-28 07:59] ifesdjeen commented on #165
You know where to find me :D

[2016-01-30 20:57] ifesdjeen opened #170 "Aggregate metrics lag"
Aggregate metrics are currently lagging if the sending paty is paused or stops for some period of time. Aggregation engine keeps on moving forward the previous snapshot of the agent instead of using the new snapshot despite, even if time difference if significant.

[2016-01-31 18:40] ifesdjeen opened #171 "Indexes not rebuilt on startup"
Index is at the point not rebuilt at startup, which means that inserted metrics can't be queried after the server restart.

[2016-01-31 18:54] ifesdjeen commented on #170
UPD: it turned out that the lag was caused by the processing of the query results rather than their storage. PR that fixes the issue is available.

[2016-02-02 19:03] ifesdjeen commented on #159
@dalassi usually that should not happen. Which protocol are you using? Could you tcpdump a payload so that we could investigate what exactly is happening?

[2016-02-02 19:03] ifesdjeen commented on #157
Unfortunately ATM only the proxy mode is working.

[2016-02-02 20:30] #170 closed

[2016-02-05 12:44] pyr opened #175 "Avoid excessive GC pressure for events"
We currently create a new `clojure.lang.Volatile` for every incoming event on a queue. Down the road this could have some serious GC impact for high traffic queues.

@ifesdjeen summed up nicely the path from our current situation. No rush for now, this issue serves as a reminder for future work:

[2016-02-05 12:49] pyr commented on #171
The cassandra index - while dog slow at the moment - does that. The default in-memory index does not. The rationale is that in many cases, you are sending metrics at regular interval.

The classic case here is sending the same set of metrics from an agent, upon restart, within two collection intervals, you'll have a full index again.

[2016-02-05 12:56] pyr commented on #171
I'll close this for now, and add some documentation bits for the situation.

[2016-02-05 12:56] #171 closed

[2016-02-05 12:57] #123 closed

[2016-02-05 12:57] pyr commented on #144
#151 has been merged.

[2016-02-05 12:57] #144 closed

[2016-02-05 12:58] #143 closed

[2016-02-05 12:58] #145 closed

[2016-02-05 12:58] pyr commented on #147
@jippi what are your thoughts, now that some elements of TWCS have been merged in DTCS?

[2016-02-05 12:59] pyr commented on #148
this issue is made irrelevant by #174

[2016-02-05 12:59] #148 closed

[2016-02-05 13:04] pyr commented on #155
Yep, this is a configuration error.

[2016-02-05 13:04] #155 closed

[2016-02-05 13:04] pyr commented on #157
Indeed, only proxy mode works reliably for now.

[2016-02-05 13:04] #157 closed

[2016-02-05 13:06] pyr commented on #159
@dalassi ideally your collectd and cyanite config would help pinpointing the issue, thanks!

[2016-02-05 13:18] pyr commented on #158
@aww-yiss with the carbon-c-relay project, you're succesfully able to input pickle metrics and output to the text carbon format in front of cyanite?

[2016-02-05 13:20] pyr commented on #136
Hi @hryamzik still none, though there aren't too many pieces missing

[2016-02-05 13:23] pyr opened #176 "Consider removal of pickle input"
Since the `carbon-c-relay` project can act as a proxy for systems emitting pickle data and the interest of parsing pickle is debatable within cyanite (`pickler` is far from perfect as it stands). This would set appropriate expectations for users of cyanite and allow the development effort to focus on other aspects for now, especially getting ready for integration with grafana.

[2016-02-05 13:27] pyr commented on #171
Another avenue which might be worth exploring is triggers on insertions, though this means modifying cassandra's classpath.

[2016-02-05 13:46] ifesdjeen commented on #176
I'd say if it helps to bring cyanite up-to-speed, I'd remove it for now and when we have more resources and the rest of thigns are settled down we can bring it back or redevelop

[2016-02-05 13:48] pyr commented on #176
Yup, we seem to agree on the appropriate course, just wanted to run it by you.

[2016-02-05 13:50] ifesdjeen commented on #175
Would you like me to check that one out?

[2016-02-05 13:50] ifesdjeen commented on #176
<3

[2016-02-05 13:54] #176 closed

[2016-02-05 14:03] pyr commented on #175
Sure, if you want to tackle it. although i'd say optimization in this area can probably be held off for a while. I think testing the snapshot mechanism in `io.cyanite.engine.buckets` and extending the DSL support for grafana integration might be a better focus for now.

[2016-02-05 14:03] pyr commented on #158
As per #176, we have decided to hold off on pickle for now.

[2016-02-05 14:03] #158 closed

[2016-02-05 14:10] ifesdjeen commented on #175
ah ok, true true

[2016-02-05 15:44] jippi commented on #147
@pyr as long as @jeffjirsa keep maintaining it and moving it along with current cassandra versions, in my experience, its still a lot better and easier for me to manage than DTCS

used to spend a lot of time on shaky nodes during repair under DTCS, been 0 cases of this since I changed 1 month ago to TWCS :)

i have not tested DTCS the last 30 days or so, so can't say if its better or not now :)

[2016-02-05 21:43] pyr commented on #147
@jippi thanks! it would be great if you were willing to to a small PR to the docs documenting how to add TWCS to the classpath and the appropriate configuration.

[2016-02-05 21:43] #147 closed

[2016-02-05 21:45] pyr commented on #154
Thanks for the  report, I'll be closing this for now as we are still doing heavy work on core functionality in cyanite which will change the part responsible for this

[2016-02-05 21:45] #154 closed

[2016-02-05 21:46] jippi commented on #147
@pyr sure, but there are 0 cyanite related in changing :)

I run with the following (install covered by https://github.com/jeffjirsa/twcs)

[code]

[2016-02-05 21:48] pyr commented on #147
@jippi Fully agreed, the thing is, many cyanite users come with no cassandra background, hence making documenting these things important. I'll integrate this, thanks!

[2016-02-08 20:40] ifesdjeen opened #180 "Use "another" ring buffer queue for runnables?"
Do you think it might be a good idea to use one more ring buffer queue for the runnables (currently clojure agents are used in index and drift). Might be a senseless optimisation in case of drift, since theoretically this part should not happen to often, although with index recalculation - it happens a bit more often as far as i understand.

[2016-02-08 21:49] pyr commented on #180
I think instrumentation will tell us where we spend most of our time and would not focus on this part for now. With drift I think the answer is sufficient as-is. Start with the agent drift, but eventually clocks should be synced.

[2016-02-08 21:49] #180 closed

[2016-02-08 21:50] #27 closed

[2016-02-09 16:16] ifesdjeen commented on #27
My current "solution" is using Graphite reporter: http://metrics.dropwizard.io/3.1.0/manual/graphite/

Do you think it might be useful to make it configurable (e.g. off by default but one can turn it on any time)

[2016-02-09 16:23] pyr commented on #27
@ifesdjeen I want to rely on https://github.com/pyr/reporter which is has opt-in support for different reporters.

[2016-02-09 16:25] ifesdjeen commented on #27
ah, true :) now I can connect the dots :D

[2016-02-09 16:25] ifesdjeen commented on #27
great idea, perfect

[2016-02-09 22:52] altvnk opened #182 "Latest versions are ignoring ip binding settings"
I have following in `cyanite.yaml`
[code]
This worked until i build latest version today. Here what i have now:
[code]

[2016-02-09 23:44] pyr commented on #182
good catch @altvnk, thanks!

[2016-02-09 23:53] pyr opened #183 "Larger resolutions should not keep the full window of events in memory"
Instead they should rely on snapshots of smaller resolutions. This means that we need to ensure that a resolution chain for is always composed of multiples of smaller resolutions. When writing we can then use a single `ingest` function instead of `ingest-at-resolution` which will get the list of snapshots, it will be up to ingest to propagate a smaller resolution snapshot to a larger one.

To keep

[2016-02-10 08:01] ifesdjeen commented on #183
Alternatively, we could use `monoids` and finalizers. Most of the things are easily expressed as `monoids`, especially ones that we have at the moment.

For example, `sum` is a monoid that starts with 0 and sums each next item with itself. `count` would be an starting with `0` too and append operation will just increment the value of count by 1. `min` and `max` are kind of working out of the box a

[2016-02-10 08:08] pyr commented on #183
I think it's an expected trade-off to lose precision for higher resolutions and it is already the case for RRD, Whisper and friends. So having a mean of means is a compromise we can afford.

[2016-02-10 08:13] pyr commented on #183
But I agree on moving to constant space, for mean, `augment-snap` was already built following this logic

[2016-02-10 08:24] ifesdjeen commented on #183
I havent realized, current implementation is exactly what I have described, which is great!

`agument-snap` is using exactly that logic, you're absolutely right here. The only difference is that all the items for the snapshot are still kept in memory until the snapshot is flushed and `augment-snap` is only called when the `old` snapshot is yielded by the grouping function. We could improve it even

[2016-02-10 08:28] pyr commented on #183
Yep, that's what i'm in the process of doing, it makes no sense to keep the window when we can augment in constant time. I'm also considering a different change, I'm thinking of having a separate snapshot thread, which would walk the list of buckets held in memory at every resolution interval which would produce a single coherent payload of snaps to send over to cassandra. This would make the work

[2016-02-10 08:29] pyr commented on #183
This is what I'm headed for for keeping values constant-time:

[code]

[2016-02-10 08:33] ifesdjeen commented on #183
Wow <3 looks amazing

[2016-02-10 08:35] altvnk commented on #182
Unfortunately, i'm seeing the same behavior:
[code]

[2016-02-10 08:42] pyr commented on #182
weird, i'm now seeing the correct one. let me check again.

[2016-02-10 08:46] pyr commented on #182
I'm seeing this with `-Djava.net.preferIPv4Stack=true`, otherwise it will listen on `::8080` and `::2003`:

[code]

[2016-02-10 08:54] altvnk commented on #182
Interesting, didn't know that trick. Let me check.

[2016-02-10 09:06] altvnk commented on #182
`java -Djava.net.preferIPv4Stack=true -jar -Xmx768m -Xms256m cyanite-0.5.1-standalone.jar -f cyanite.yaml`

[code]
Still no luck, tested on Linux and OS X with Oracle JRE 8

[2016-02-10 09:09] pyr commented on #182
I think you're not running the latest code then, can you make sure you're sitting at this commit: https://github.com/pyr/cyanite/commit/509ca30305209928c6f34122b8f6570aa3599e18

[2016-02-10 09:11] altvnk commented on #182
[code]

[2016-02-10 09:13] pyr commented on #182
@altvnk I'd do a full lein clean; lein compile :all; lein uberjar just to make sure, if that fails, i'm out of ideas :-)

[2016-02-10 09:14] altvnk commented on #182
Yeah, i'm confused too. I even tried a fresh `git clone`...

[2016-02-10 14:03] pyr commented on #183
The remaining question will be (and would love your ideas on the subject @ifesdjeen): how do we guarantee safe access to the monoids.

This ties-in to the guarantees that disruptor can provide. For instance, if we knew that disruptor callbacks were always called on a single thread and did not overlap, we could make the monoids `volatile` and `vswap!` to apply augment. The alternative is to use an

[2016-02-10 14:31] ifesdjeen commented on #183
re: disruptor callbacks, since we're using it for the fast computation, I think the best is to avoid context switches on the `:ingestq` and have just one thread (I'm not sure if it's possible with Disruptor DSL, but we can always opt-out for using RingBuffer directly there).
If we decide that we need more parallelism, we can use multiple ring buffers each of which will guarantee it's own local ord

[2016-02-10 14:54] pyr commented on #183
OK, thanks. to be very clear, what situation are we in right now? Does it just boil down to creating a disruptor with a threadpool of size 1 ?

[2016-02-10 14:58] pyr commented on #183
I like the idea of sharding on several ringbuffers by the way, down the line. I'll start with a simple mechanism that uses nonblocking hashmaps and atoms, and we'll see how this performs, it will be easy to optomize hotspots from there.

[2016-02-10 15:14] ifesdjeen commented on #183
Yes, threadpool of 1... Or writing a custom consumer that spins in it's own thread without using the Disruptor DSL.

Perfect!

[2016-02-10 15:53] pyr commented on #183
And to close-off the initial discussion, this speaks against spilling over from resolution to resolution, but rather in favor of creating a monoid per metric/resolution tuple, as @ifesdjeen mentioned in the initial reply. I'll open a PR that builds on this discussion (hopefully shortly).

[2016-02-10 15:53] #183 closed

[2016-02-10 22:35] pyr opened #186 "Prune internal state of empty timeslots to allow GC for disappearing metrics"

[2016-02-10 22:38] pyr opened #187 "Keep track of a timestamp floor, accounting for drift"
The aim is to be able to discard incoming metrics for which a snapshot has already been created and flushed. Otherwise, the system is at risk of creating snapshots for previously emitted snapshots, which would overwrite data in cassandra.

[2016-02-10 22:40] pyr opened #188 "Figure out the best interval to run at from resolutions"
Instead of hardcoding a 10 second delay for the snapshot thread, figure out a good interval to run at by walking through the list of resolutions, and then use that.

[2016-02-12 01:52] carlf opened #189 "Exception on loading data (missing method?)"
We are trying to test out cyanite. We are hitting this error:

[code]

We are using Cassandra 3.0.3 and current master with this config:

[code]

[2016-02-12 06:39] ifesdjeen commented on #189
This was a result of recent refactoring and is already addressed in #185.

We are working very hard to make the release available within the next several weeks. We are in the process of stabilizing and removing performance bottlenecks at the moment.

[2016-02-12 06:39] #189 closed

[2016-02-12 08:12] stuartbfox opened #190 "Failure to write any metrics"
Im running the latest commit and Im seeing 0 writes to Cassandra. Ive got it running in debug mode to see whats going in and I get this shortly after startup.

[code]
Anything else I can provide to help diagnose?

BR
Stuart

[2016-02-12 08:14] ifesdjeen commented on #190
Thanks for giving Cyanite a try and reporting that one! Sorry you hit that issue.
This was a result of recent refactoring and is already addressed in #185. Also, duplicate of #189.

We are working very hard to make the release available within the next several weeks. We are in the process of stabilizing and removing performance bottlenecks at the moment.

[2016-02-12 08:14] #190 closed

[2016-02-12 08:25] stuartbfox opened #191 "Failure to write any metrics"
Hi

Im running from the latest master and Im seeing 0 writes to Cassandra. Im running to debug to see whats happening, I get this shortly after startup

[code]

Anything else I can do to aide diagnosing?

[2016-02-12 08:27] ifesdjeen commented on #191
Closing as it's exactly same as #190.

The branch will land master shortly

[2016-02-12 08:27] #191 closed

[2016-02-12 08:34] stuartbfox commented on #191
Sorry, you closed the #190 so quickly I thought I'd made a mistake posting :)

[2016-02-12 08:36] ifesdjeen commented on #191
:) no problem it was all correct. I just knew what to say

[2016-02-12 20:53] altvnk commented on #182
Just built latest master and seems issue with binding is gone:
[code]
As you can see now it listens on both ipv4 and ipv6.

[2016-02-12 20:53] #182 closed

[2016-02-15 19:39] aww-yiss commented on #158
@pyr regarding carbon-c-relay, It *only* supports the plaintext protocol, and we decided on moving away from using the pickle formatted metrics everywhere, and just receiving and relaying metrics in the plaintext format.

The rational being that all our collectors have been configured to push metrics in plaintext format anyways, so the only thing which was talking pickle were remote carbon-relay p

[2016-02-15 21:52] altvnk opened #193 "Write problems in latest master"
Here is an screenshot of metric data rendered with Grafana. On the left side of graphs is the latest version of cyanite, on the right side version from 31.01.16 (f1ec70e). Both are running with same config, same load (4 collectd hosts with few plugins enabled) and the same Cassandra cluster. You can clearly see that cyanite cannot handle even such small load and drops messages. The older one works

[2016-02-15 21:54] altvnk commented on #193
PS: on the left side 4 instances of cyanite is running (with one picture is even worse). On the right side only one )

[2016-02-16 06:34] ifesdjeen commented on #193
Looking into that one. Weird, my perf benchmarks were showing the opposite...

[2016-02-16 07:12] ifesdjeen commented on #193
@altvnk we just recently reworked to use ring buffer disruptor (starting here 66b2f171834420c7c52a9d0b685be91d75531e67). I've done some performance tests, but we'll need some more extensive testing.

We'll be reworking scheduling mechanism over the next few days. Currently I can only say that ingestion performance improved significantly, and writes are handled quite differently and with timer inst

[2016-02-17 14:34] altvnk commented on #193
Ok, thanks.

[2016-02-17 16:24] altvnk opened #197 "High load average"
I've found that on machines where cyanite is running load average grows really fast (10-12 on 5min average, 2 CPU's). What i've found next is too much `TIME_WAIT` connections witch causes CPU waits as i understand. My assumption that cyanite is not properly closes network connections, but i may be wrong.

[2016-02-17 17:30] ifesdjeen commented on #197
Which version would that be? Same as in the issue you've previously reported?

[2016-02-17 19:19] altvnk commented on #197
Right, the same. I have to say that I have seen this earlier, I just wasn't sure what caused such load. We are running cyanite and some other stuff on testing Mesos cluster, so there was too much additional factors. But after some cleanup problem is obvious and reproducible.

[2016-02-17 19:30] ifesdjeen commented on #197
Great, thanks! I'm extensively perf testing and doing lots of tuning on different parts as you can see from the outstanding PRs, but pointers like that are extremely useful.

[2016-02-18 07:17] altvnk commented on #197
Sure, np. I'm very interested in this project and will contribute as much as I can. I cannot code, so reporting issues might be helpful I think :)

[2016-02-24 15:07] tzach opened #198 "No binary packake available"
The [documentation](http://cyanite.io/quickstart.html#obtaining-cyanite) point to https://github.com/pyr/cyanite/releases for binary distributions, but noting is there.

[2016-02-26 11:32] frankh commented on #198
Can someone comment on this? Is there a mirror for the packages?

[2016-02-26 13:42] pyr commented on #198
Hi Frank, there is no release yet, so no packages are available, we are
hoping to have one out soon.

cheers,

[2016-02-29 09:15] KlavsKlavsen commented on #198
eagerly awaiting.. while I wait.. if I want to be able to upgrade to the release when it shows up.. should I just start with github master.. or ?

[2016-02-29 11:39] ifesdjeen commented on #198
@KlavsKlavsen current github master is missing several critical features, so I'd stay where you are for now. Hopefully we'll merge PRs within the week.

[2016-03-08 16:36] seapasulli opened #199 "Cyanite schema.sql caching "SyntaxException: <ErrorMessage code=2000 [Syntax error in CQL query] message="Invalid value for property 'caching'. It should be a map.">""
when I tried to import your schema.sql file cassandra 3.0.3 errored. I updated schema.sql's caching lines to be the following":
     `AND caching = {'keys': 'ALL', 'rows_per_partition': 'NONE'}
`
and then it worked without issues.

[2016-03-08 17:04] ifesdjeen commented on #199
Unfortunately that would not work for cassandra 2.x, which is our current target.
We're going to be migrating to 3.4 as soon as it's released, skipping all the versions inbetween, due to the sasi index.

[2016-03-08 17:04] #199 closed

[2016-03-09 22:15] uhoh-itsmaciek opened #200 "Flesh out docs on aggregation"
[The aggregation section](http://cyanite.io/concepts.html#aggregation-mechanism) briefly lays out the aggregation mechanism, but it's not clear what happens if the process crashes--are the partial results for the aggregation for the current period lost entirely? Or is cyanite able to recompute the whole window from the raw samples?

[2016-03-10 06:24] ifesdjeen commented on #200
For now they are lost completely. It's a good reminder tho, we need to take care of it too.

[2016-03-11 12:54] ifesdjeen commented on #159
Closing as not enough info. Also, in latest versions it doesn't seem to pop up.

[2016-03-11 14:21] ifesdjeen commented on #175
I think that one is mostly handled: volatile is created once per RingBuffer slot, and GC pressure is generally handled by avoiding window collection.

[2016-03-11 14:21] #175 closed

[2016-03-23 10:20] ifesdjeen commented on #188
For now, every resolution runs at it's own pace, so it's not hardcoded anymore.

[2016-03-23 10:20] #188 closed

[2016-03-30 13:30] KlavsKlavsen opened #202 "cyanite vs. kairosdb?"
I just found kairosdb.. also using cassandra as backing store.. any comparison thoughts?

[2016-03-30 22:30] rsvancara commented on #202
Definitely appears to be a much more mature product.  Right now the performance of cyanite in terms of reading metrics using Cassandra 3.4. Cyanite does not appear to have much activity.

[2016-03-30 23:26] rsvancara commented on #156
Any resolution on this?  Really a show stopper for us.

[2016-03-31 06:16] jippi commented on #156
tried Cassandra TWCS ? ( https://github.com/jeffjirsa/twcs )

[2016-03-31 13:36] rsvancara commented on #156
How will this help slow searches.  Does it provide an indexed search??

[2016-03-31 17:24] aww-yiss commented on #156
Part of the challenge I've experienced here seems to be that under prod load with a volume of high cardinally metrics (~15 million unique metrics/min), it seems the ability to manage the index get pushed into old gen of the heap, and then the jvm spends a lot of CPU time of its time trying to keep up with the indexing.

Some details for reference, hopefully some useful:

cyanite.yaml
[code]

Oracl

[2016-04-01 00:22] justanyone commented on #202
We had very little luck with either product.  We're using catsdb now.

On Wed, Mar 30, 2016 at 5:30 PM, Randall Svancara <notifications@github.com>
wrote:

[2016-04-01 17:38] ifesdjeen commented on #156
@aww-yiss it's very hard to say anything without knowing which exactly version you're running. If it's not master, I'm afraid it makes a little sense to even debug it, since the problem is most likely gone (at least judging the symptoms).

@jippi i'm afraid that TWCS won't help for this particular issue. We recommend the date tiered compaction from cassandra itself though. This issue is more relat

[2016-04-01 17:41] ifesdjeen commented on #202
I'm not sure what catsdb is to be honest, never heard of it. Google and github searches yielded no information either. Cyanite didn't yet have any official release, so it's experimental software. We're getting it more stable. Last bits are coming along quite well. We hope to have it stabilized soon.

[2016-04-01 18:28] rsvancara commented on #156
@ifesdjeen We have stood up cassandra 3.4.  I have three cassandra instances in AWS ready to go and I can quickly flip the switch and send about 40K metrics per second to these instances.  What is the best way to get your changes and test them?  Do you have an updated schema file I can load into Cassandra? I have the installation all automated with Ansible playbooks so I can iterate through change

[2016-04-02 12:34] ifesdjeen commented on #156
@rsvancara let me test a couple more things today and I'll let you know the status. Don't want to spend your time before I make sure it's ready for alpha users. I'll also consult @pyr, as he'll review my patch :)

[2016-04-05 14:29] aww-yiss commented on #156
@ifesdjeen This was from master, but a while back now. It was listed as 0.5.1 but there seems to be little consistency in the release tags, so you're probably correct in asserting that this isn't debuggable at this point. Just trying to shed some insight.

[2016-04-05 15:56] ifesdjeen commented on #156
Thanks for doing that! There are no real release tags, all releases up till now were internal, there was no official or binary release, therefore there're no tags.

[2016-04-05 16:34] arodland opened #203 ""Uncaught exception" warning on bad carbon data"
I'm not sure whether this causes any problems other than the warning in the log, so I'm writing it up. The log spam is a bit excessive regardless :)

[code]

running 0b855b24acc7e9de85d0c6d3f3692183c03ea926 (master as of the time this issue was created).

[2016-04-05 19:55] arodland commented on #203
Looks like this is a dup of #144 / #151, reopen if I'm wrong.

[2016-04-05 19:55] #203 closed

[2016-04-08 20:06] seapasulli commented on #199
Sorry to resurrect. Can we update the docs to exclude 3X for now. At least until 3.4 support is added? I just feel that it is vague. Sorry to bug or request anything on this as it is free and I am grateful, I just think it would help other lowly sysadmins like myself.

[2016-04-09 11:28] ifesdjeen commented on #199
@seapasulli we haven't merged it yet, mostly because I've made a mistake of using bloom filter with inverted logic. I hope to be able to fix it at least partially shortly...

[2016-04-10 20:19] #202 closed

[2016-04-10 20:20] ifesdjeen commented on #202
Sorry for closing it. I think at this particular moment it's better to avoid strong comparisons or make any big claims. In short, sweetspot of cyaite is being lightweight and fully compatible with Graphite infrastructure.

[2016-04-30 12:57] MichaelHierweck opened #204 "Memory leak"
Hi all,

after a while I was able to try out cyanite again.

Setup: collectd => riemann => cyanite => cassandra (graphite-api not connected yet)
Cyanite was built from source @ 017932d899a215fb45f2e2cfb79d8e9691e5a851.
Riemann forwards about 1000 metrics/s.

After some time cyanite consumes more and more CPU time (60-80% => 300-400%).
Jstat reports that a growing amount of time is consumed by GC.

[2016-04-30 19:05] ifesdjeen commented on #204
Just a heapdump would be very useful, although I hope I can reproduce the issue locally with graphite stresser. I'll get to it.

[2016-04-30 20:46] ifesdjeen commented on #204
@MichaelHierweck could you give a little more information: do you insert same metric names all the time? Are there any metrics with "dynamic" names (as we might be prone to symbol attach if metric names are constantly changing).

[2016-04-30 20:54] MichaelHierweck commented on #204
On 30.04.2016 22:46, αλεx π wrote:

About 100 hosts with 100 measuring points each which are served by
collectd every 10 seconds (6 times a minute).

The metric names are supposed to be rather static unless we add/change
hosts, add cpu-threads or network interfaces or something like that.

[2016-04-30 21:07] MichaelHierweck commented on #204
I did a quick test this afternoon and changed to log settings:

[code]

With this slightly changed configuration I was not able to reproduce the
problem. (Currently running are long term test.)

Can the problem be related to "console: true" when cyanite is started
through the init system (and maybe the stdout channel is not connected)?

(I remember Riemann running into OOM trying to forward metric

[2016-04-30 21:11] MichaelHierweck commented on #204
[code]

[2016-05-01 21:18] ifesdjeen commented on #204
Weirdly enough I can confirm that it leaks only with `console: true` for me, too. However, I could not trace any significant allocations. Only thing I can say for now is that it _might_ be the system classloader reference leak because of logback. Let's see if I can confirm...

[2016-05-01 21:46] ifesdjeen commented on #204
Can't confirm that so far, at least I can't see any relation to the classloader.

[2016-05-02 06:12] ifesdjeen commented on #204
After running over the night with a decent workload, I can see no signs of memory leak (also, with console setting on).

If you encounter it again, please reopen the ticket.

[2016-05-02 06:12] #204 closed

[2016-05-03 17:18] pauzed commented on #156
Is there any way I can be a part of this alpha group?  I've been using Cyanite since 0.1.3, finally got internal buy-in to drop our old metric cluster, and move to 0.5.1, but having horrendous performance issues, even building from master as of yesterday, which includes the SASI changes.  Wildcards certainly appear to cause a significant amount of stress, worse than that is that stress becomes blo

[2016-05-03 18:21] ifesdjeen commented on #156
@pauzed Sure, you can always try it out. It'd be good to get a rough description of what your metrics look like to understand where exactly the bottleneck is.

Do wildcards cause performance degradation while building a dashboard? Could you roughly describe so I could reproduce locally?

[2016-05-03 19:47] pauzed commented on #156
@ifesdjeen Happily.  Right now, I'm currently just piping in system metrics, from Diamond, into Cyanite, using the base Diamond collectors (cpu, network, disk space, disk usage, load average, memory, vmstat, tcp, and filestat). I'm currently only ingesting about 100 servers.  In most circumstances, I don't have much trouble using /metrics/find?query=servers.*.*.*.* for discovering metric paths, th

[2016-05-04 07:19] ifesdjeen commented on #156
Don't worry, we'll get it to perform :) Of course first approximation turned out to be less optimal than I initially anticipated. I'll take a closer look at it over the weekend.

[2016-05-07 16:21] MichaelHierweck opened #206 "Documentation on HTTP API"
There seem to be changes to the HTTP API that broke integration with graphite-api. These changes lack documentation of the API itself and how to connect clients.

Is cyanite going to make graphite-api obsolete by implementing the "Graphite API" itself?

[2016-05-07 18:59] ifesdjeen commented on #206
Could you be more specific? To be honest, I'm  not using graphite-api, although I can't think where exactly it might deem to be useful.

[2016-05-07 20:25] MichaelHierweck commented on #206
We use graphite-api in order do be able to connect graphite-web (or maybe other tools providing a web based ui for graphs based on data provided by cyanite.

Full stack:

collectd -f-> riemann -f-> cyanite <-q- graphite-api <-q- graphite-web (or may other frontend)

f=  forward
q = query

Examples for incompatibility between cyanite and graphite-api (to be more precise: the graphite-cyanite plugin

[2016-05-07 20:29] ifesdjeen commented on #206
At least up till the date I've been mostly testing against `grafana` (although in proxy mode). APIs should (usually) be still compatible with `graphite-api`, too (at least that's the goal), so I'm going to investigate the behaviour.

Thank you very much for reporting!

[2016-05-11 11:31] MichaelHierweck commented on #156
In our test setup we currently have about 20.000 (static) path names, submitting about 1500 metrics/sec from Riemann.

Cyanite's internal index:
rather fast, lower cpu consumption, requires minimum 2 GB heap (otherwise GC takes all cpu resulting in OOM after 30-60 minutes)

Cassandra index:
really slow (unusable?), high cpu consumtion (both cyanite and cassandra), 512 MB heap seems to be enough

[2016-05-11 11:54] ifesdjeen commented on #156
Cassandra index is the only reasonable way to work for now, there's no better alternative. I've already created a test suite to reproduce, just didn't get enough uninterrupted time to work on it in all details. Hopefully Pfingstferien allow.

[2016-05-15 10:51] sgran commented on #71
Any thoughts on this?  I have to periodically clean out the index right now, which is a bit tedious and error prone.  Is there anything I can do to help push this forward a bit?

[2016-05-15 15:44] ifesdjeen commented on #71
To be honest, I can not see any way to allow this change in a performant manner. the only way to do this is to run queries for the paths first and then to re-run the same the query in the metrics table to check if this metric was or was not active.

Maybe @pyr has an idea on how to implement it in a performant fashion?

[2016-05-16 13:29] ifesdjeen commented on #71
@sgran if I understand the problem correctly, your problem is that you have some short-lived metrics, and you'd like to expire them after the certain time period, am I correct? Or you just have metrics that come and go absolutely unpredictably?

[2016-05-16 13:52] ifesdjeen commented on #156
@MichaelHierweck I've tested the Cassandra index for performance again.

I have 25K static names:

[code]

I run a simple query that would return around 50 results (not a few, but not too many either):

[code]

So SASI index or indexing mechanism per se is definitely not a source of a problem.

[2016-05-16 14:12] ifesdjeen commented on #156
@pauzed I've checked for your case as well:

This is not true, although it would've been be an easy thing to fix. We're doing query multiplication and then we perform C* query, although with `IN`, so no separate queries are done.

For now, I can not identify a source of a problem, even after running stresses with loads similar to described ones locally. If you could run the queries against your C*

[2016-05-16 14:34] MichaelHierweck commented on #156
It seems we are doing something terribly wrong as we experience both bad performance/high cpu usage and still some kind of memory leak. :(

Would you please provide your cyanite and cassandra settings? This might help us investigate...I already provided our settings. We played around with heap sizes last weak but larger heap sizes only postpone the GC/OOM trouble.

[2016-05-16 15:00] ifesdjeen commented on #156
TBH I'd first check Cassandra... I have super-standard settings, I didn't configure pretty much anything :/

Is it possible to maybe find you on IRC one of these days, for ~30 min and chat / try to work through problems together? It'd also help to exclude the factors such as wrong build etc.

[2016-05-16 15:07] MichaelHierweck commented on #156
Thank you. Is there a cyanite IRC channel?

[2016-05-16 15:09] ifesdjeen commented on #156
Ah, no there's no channel. My handle is `ifesdjeen` though. I'm there most of time when online :)

[2016-05-16 17:06] pauzed commented on #156
@ifesdjeen im happy to try out the queries if you would like to post them here, and how I can leverage the test pull requests to see if I can further pinpoint the performance problem I've been experiencing.

@MichaelHierweck there was a #cyanite on Freenode, but its terribly unactive, this is where I've connected with pyr in the past.

I can make availability any time to troubleshoot this as well.

[2016-05-16 19:47] ifesdjeen commented on #156
I'm trying to create a universal benchmark, where one could separate read path from write path. If the problem is in combination, it's kind of ok (e.g. we would just have to figure out sharding for writes and load-balance reads).

[2016-05-19 07:46] Alexul commented on #198
@ifesdjeen Hey, eagerly awaiting for some time too, what would you advise: to wait a little longer or start with current master?

[2016-05-21 20:48] ifesdjeen opened #208 "Proposal: use metric md5 hash instead of the name to reduce memory footprint"
It could be beneficial for memory to store the md5 hash of metric instead of the metric name in memory. Currently, we keep the metric names in memory for the lifetime of application. Although, given the size of the metric (let's say 50 symbols), they'd use a max of 5mb given 100K  processed metrics. Anyways, just an idea I thought still worth throwing in. Might be I underestimate the size the stri

[2016-05-21 21:51] ifesdjeen commented on #156
@pauzed @MichaelHierweck i _might_ have just solved the mystery. Turns out that index was being blocked by constant writes into the `segment` and `path` tables, as the throttling mechanism relied on the method in `nbhm` that was supposed to query for the existence of the metric name and then write it to the database. Although because of weird API of `nbhm`, their `contains` by default had a meanin

[2016-05-21 21:52] ifesdjeen commented on #156
Anyways, https://github.com/pyr/cyanite/pull/207/commits/66783bd0b8177904af56da2f708fb7b09c8fa03c and https://github.com/pyr/cyanite/pull/207/commits/77c6ce3bce0c5e1ff111a147eb8e25020269c512 should solve the problem.

[2016-05-24 20:47] arodland opened #209 ""Implement Cassandra index in terms of index interface" broke querying with cassandra index"
https://github.com/pyr/cyanite/commit/fc85da51dbb15060139d945cd377e43d69c3cc31 changed `prefixes` to return something without a "path" key, which is inconsistent with other indexes, and causes a NPE like so: https://gist.github.com/arodland/2218ee4af35b2a38adb40263f86d54d4 .

Adding `:path path` to `prefix-info` fixes the NPE, but is probably far from the best fix.

Relatedly, there is https://git

[2016-05-24 20:51] arodland commented on #209
(forgive any lack of precision, I don't speak Clojure so I'm stumbling around in the dark here a bit.)

[2016-05-25 04:37] ifesdjeen commented on #209
Fixed in last master.

[2016-05-25 04:39] ifesdjeen commented on #209
Thanks for reporting! The first implementation was a bit overtuned. We've already done some work on improving it and working on more improvements.

[2016-05-25 04:45] arodland commented on #209
Sorry if I wasn't clear. It's broken for me on current master . I get Internal Server Error / NPE for any render other than ones that return no data points.

[2016-05-25 06:28] ifesdjeen commented on #209
I'll take a closer look at it tonight. I've been testing against grafana proxy, which might be a bit different setting. I'll take a closer look at how graphite-cyanite integrates.

[2016-05-25 09:30] MichaelHierweck commented on #156
On 21.05.2016 23:52, αλεx π wrote:

Thanks. I'm going to try your PRs...

[2016-05-30 20:28] ifesdjeen commented on #156
I'm closing that one for now after some measurements and some positive feedback.

[2016-05-30 20:28] #156 closed

[2016-05-31 17:09] pauzed commented on #156
Hey, so sorry for not getting back on this sooner.  With the same number of instances writing metrics into Cyanite, I no longer see the same read performance hits as expressed previously.  Looking like I'm getting similar performance with Cyanite 0.1.3 that I've migrated out of.  Thanks for your attention to this matter!

[2016-05-31 17:38] ifesdjeen commented on #156
👍 🎆 @pauzed I can't be happier! Thank you for reporting. Very good to hear that.

[2016-05-31 19:12] pauzed commented on #209
Yes, I was getting similar problems using graphite-api, and this made everything happier:

diff --git a/src/io/cyanite/index/cassandra.clj b/src/io/cyanite/index/cassandra.clj
index e918fe9..74a1a27 100644
--- a/src/io/cyanite/index/cassandra.clj
+++ b/src/io/cyanite/index/cassandra.clj
@@ -52,7 +52,8 @@

 (defn prefix-info
   [pattern-length [path length leaf]]
-  {:text          (last (split pat

[2016-06-01 17:58] MichaelHierweck commented on #156
Thanks a lot. Great work.

[2016-06-01 18:13] pyr commented on #156
Awesome news, thanks!

[2016-06-03 11:03] MichaelHierweck commented on #206
Should Cyanite bring back the "path" key or should cyanite finder adopt "id"?

[2016-06-03 11:47] brutasse commented on #206
If backwards compatibility is easy, it'd be nice to have "path" again.

[2016-06-03 12:32] ifesdjeen commented on #206
I agree. I'll bring it back.

[2016-06-03 12:32] ifesdjeen commented on #206
Feel free to submit a pr @MichaelHierweck if you feel like it)

[2016-06-03 14:34] MichaelHierweck commented on #206
Sorry, no idea whether renaming "id" to "path" would break other components such as grafana.

[2016-06-03 14:36] ifesdjeen commented on #206
:) no problem

[2016-06-03 18:28] MichaelHierweck commented on #206
There seem to be even more incompatibilities. Please simply try [graphite-api's Render API](http://graphite-api.readthedocs.io/en/latest/api.html#the-render-api-render) using the upstream Cyanite Finder against upstream Cyanite.

Since the HTTP API appears to work with grafana, I'd tend to fix the Cyanite Finder.

I was not able to figure out what's excatly wrong.

[2016-06-04 15:18] brutasse commented on #206
Are you sure? AFAIK Grafana isn't able to talk to cyanite directly and needs the graphite-api+cyanite finder components.

POST requests to `/render` is for graphite/graphite-api, interface documented [here](http://graphite-api.readthedocs.io/en/latest/api.html#the-render-api-render).

[2016-06-04 16:00] MichaelHierweck commented on #206
Cyanite's HTTP API seem to have envolved so that Grafana can talk directly do Cyanite. (At least it worked for me when graphite-api was disabled complety. I guess these changes broke the Cyanite Finder for graphite-api. Cyanite does not implement the graphite API specification.

Questions:
- Will Cyanite implement the complete graphite API specification soon? (This would make graphite-cyanite (fin

[2016-06-07 21:15] sgran commented on #71
we use the hostname or hostid in the metric path.  With a combination of containers and cloud hosts, we get a high rate of churn on metric paths.  The actual metrics themselves expire when the ttl expires, but the paths index in elasticsearch is an ever-growing set.  Also, a query for a half hour window of metrics gets a list of all available paths, and then does a cassandra for all of those paths

[2016-06-08 05:20] ifesdjeen commented on #71
I'd recommend prefixing your metric with hour or day for search purposes. Other than that they should not impair performance or GC metrics manually or expire them by simply adding a TTL on the table-level during the creation (by simply changing the schema).

Described use-case is not something typical for the time series and path store.

[2016-06-08 05:20] #71 closed

[2016-06-09 18:57] vamsikorada opened #210 "Unable to fetch data through cyanite http services"
I setted up cassandra and ran the cynanite jar. I was able to push data to cassandra, and the http service ping is giving the correct response. However, when i tries to use the cyanite http service "paths" (http://localhost:8090/paths?query=*), i am getting the following error message as response `{"message":"No matching method found: substring for class io.cyanite.index$segmentize"}`

Here is the

[2016-06-10 16:12] ifesdjeen commented on #210
I can't reproduce this on the last master. I get the paths returned.

From what I can say this is some outdated version as AgentIndex is used.

[2016-06-12 11:45] vamsikorada opened #211 "facing issues with metrics API"
I pulled the latest master branch and created a standalone-jar. I also created tables as per the schema.cql file. Now, when i push the metric using carbon as input, all the 3 tables, metrics, path, segment are being populated correctly. The path API is also working properly. However, when i am trying to fetch the corresponding metrics for the paths, I am getting the following error

`http://localh

[2016-06-14 19:05] vamsikorada commented on #211
Can someone please look into this and tell me if its a bug or am I doing something wrong? Been struck with this for past few days, tried with different versions of cassandra but no luck :( Thanks in advance.

[2016-06-15 06:55] ifesdjeen commented on #211
Sure, we're monitoring issues and will check it out as soon as we have time.

[2016-06-15 19:40] MichaelHierweck opened #214 "Question: Cleanup"
Does Cyanite automatically purge outdated metrics?
Does Cassandra need explicit compaction or any kind of vacuuming?

[2016-06-15 19:42] MichaelHierweck commented on #206
Thanks for #213. Is this intended to fix the above mentioned bug related to graphite-apis render api, too?

[2016-06-15 19:44] ifesdjeen commented on #206
Yes. I think it does fix it in fact. Feel free to close.

[2016-06-15 19:45] ifesdjeen commented on #206
Oh wait, documenting :)

[2016-06-15 20:03] ifesdjeen commented on #214
What do you mean by "outdated metrics"?

[2016-06-16 06:19] MichaelHierweck commented on #214
I mean metrics beyound the speficied ranges. E.g. [1m:5d] => what happens to metrics older than 5 days?

[2016-06-16 06:47] ifesdjeen commented on #214
They get TTLed, after that Cassandra compaction kicks in to remove them.

[2016-06-16 11:53] ifesdjeen commented on #214
More information on the subject can be found here: https://docs.datastax.com/en/cql/3.1/cql/cql_using/use_expire_c.html

[2016-06-16 11:53] #214 closed

[2016-06-16 16:09] MichaelHierweck commented on #206
I can confirm the setup graphite-api -> cyanite finder -> cyanite works for both metrics and render API with the current upstream version. Great!

[2016-06-16 16:09] ifesdjeen commented on #206
I'm closing then?

[2016-06-16 16:13] MichaelHierweck commented on #206
Feel free to close this issue. :)

[2016-06-16 16:26] #206 closed

[2016-06-23 12:47] sgran commented on #71
cyanite with the graphite middle ware makes it impossible to do aggregate reporting of metrics if you don't encode the hostname in the metric path - the default behaviour is to take the mean of all values in a time bucket, and graphite-api / graphite-cyanite doesn't expose a way to change that.

This means that if you want to see, say, the total volume of requests across all hosts, you need a uniq

[2016-06-23 12:52] pyr commented on #71
Hey @sgran,

This is something we have thought about solving by introducing a different way to name metrics. The change will require some time to roll-out though,

[2016-06-23 12:53] ifesdjeen commented on #71
@sgran I'm definitely not opposed to have that feature. I just do not have capacity to implement this feature at the moment. If you like - we're an open source project, you can always contribute it.

To be honest, I was not aware of this feature in graphite-api. If it is there, we'll have it sooner or later.

[2016-06-23 17:30] asafm commented on #71
What makes your host change so frequently?
How many distinct values do you have per day?

On יום ה׳, 23 ביוני 2016 at 15:53 αλεx π <notifications@github.com> wrote:

[2016-07-06 21:28] zbintliff commented on #210
I am seeing the same issue.  Using the latest commit off of master.  I have tried with multiple Cassandra 2.1.X versions (10-14).  Connecting to Cassandra directly I am getting the metrics I am putting in there but I am unable to query because of this error.

[2016-07-06 21:29] zbintliff commented on #210
I also have AgentIndex setup since we are trying to POC this and not include the Cassandra Index.

[2016-07-07 07:33] ifesdjeen commented on #210
@zbintliff could you post an entire stacktrace and query? I'll check it again. Last time I had no success reproducing it.

[2016-07-07 13:49] zbintliff commented on #210
I was getting the error when running a simple wildcard query `curl localhost:8080/paths?query=*`.

I was able to resolve it by using the schema referenced [here](https://github.com/pyr/cyanite/blob/master/doc/schema.cql) and not on cyanite.io.  After updating the schema, I then switched to a Cassandra agent and I was able to query the paths no problem.

The stack trace I received is the exact same

[2016-07-07 14:23] ifesdjeen commented on #210
Yes, AgentIndex will be deprecated shortly. Also, documentation website is outdated while we were preparing for the release...

[2016-07-07 14:32] zbintliff commented on #210
Ok, thanks for the info.  We are currently trying to POC Cyanite vs KairosDB as a Graphite replacement.  Do you have a commit hash we should work off of?  Also, any ETA on the release so we can POC on known stable point?

(You can reclose this ticket then)

[2016-07-07 15:11] ifesdjeen commented on #210
I'm afraid I can't really give any estimates, as the both maintainers are full-time employed at the moment and we do it in our spare time. Recent weeks have been a bit rough in that regard. If the current outstanding PR gets merged, we'll release the first alpha GA.

[2016-07-07 16:56] ifesdjeen commented on #210
I'm closing then, if this is a documentation issue - we'll have to rework current docs alltogether

[2016-07-12 16:31] zbintliff opened #218 "Current Branch, Example Config, Schema and Cassandra version used in tests"
Hey @ifesdjeen I saw that you are on of the main contributors and we are testing Cyanite but having hard getting started as the documentation seems a bit out of date.

If you could just link what commit/branch to build the jar off of, the Cassandra version you are using, the current Cassandra schema and a sample config file you are using that is current I would really appreciate it.

[2016-07-12 21:39] zbintliff commented on #218
Currently we are using:
1. Latest commit off of master to build the uberjar
2. Cassandra 3.x
3. Schema located [here](https://github.com/pyr/cyanite/blob/master/doc/schema.cql)
4. Config located [here](https://github.com/pyr/cyanite/blob/master/doc/cyanite.yaml) with changes to have the index us cassandra db and 'metric' keyspace.

Pretty sure we are running on track now. It was just tough trackin

[2016-07-12 21:39] #218 closed

[2016-07-18 19:54] jjneely opened #220 "Parse floats for timestamps"
Looks like there are quite a few cases in my environment where the timestamp in the carbon line protocol is a float value.  Graphite accepts these values and parses them correctly.  With the current master I get the following exception:

[code]

[2016-07-19 07:31] ifesdjeen commented on #220
Right. That should be quite simple to fix...

[2016-07-21 23:58] paralin commented on #211
Any updates here?

[2016-07-22 06:52] ifesdjeen commented on #211
@paralin there's a PR that waits a review for that

[2016-07-23 14:46] genericgithubuser opened #221 "Production deployment sizes"
I would like to hear of anyone who is using Cyanite in a production environment, and how many datapoints per minute they are supporting with the configuration.

We are re-looking to migrate away from graphite, and cyanite is one of the main directions we're looking.  We have a medium sized graphite installation now, only doing ~3.5 million datapoints per minute.  As we look to move to a better bac

[2016-07-24 19:01] ifesdjeen commented on #221
The major "problem" when using cyanite is to handle write loads. In order to do that, right now one just has to shard. Other than that - Cyanite is more or less just a proxy for Cassandra reads, which is much simpler to measure.

3,5M is rougly 60K per second, which is reduced in terms of writes to maybe 10K writes, which sounds like not that much for Cassandra.

Cyanite is still very young and I'

[2016-07-29 14:49] leoleovich opened #222 "Always get an empty set"
Hello.
I did following things according instfuction:
Compile:
```lein uberjar```

[code]

```java -jar target/cyanite-0.5.1-standalone.jar```

Then I imported everything to cassandra via cyanite (2003). Data is in there:
[code]

But I can not select data from cassandra with it. Cyanite can not find any metric (empty result)
[code]

At the same time `/ping` works fine.

Am I doing something wrong o

[2016-07-29 14:58] ifesdjeen commented on #222
Did you build from `master`?

[2016-07-29 14:59] leoleovich commented on #222
Yes, also tried to build from bugfix/fix-wildcard-queries. Same result.

[2016-07-29 15:02] leoleovich commented on #222
Also tcpdump does not show requests to cassandra host. I have "heartbeat" from time to time, but queries do not go.

[2016-07-29 15:46] ifesdjeen commented on #222
All right, I'll dig into that over the weekend.

[2016-07-29 15:47] leoleovich commented on #222
Thank you very much. Will wait for your reply :)

[2016-07-29 22:21] leoleovich commented on #222
Maybe this batch of logs will help you:

[code]

[2016-07-29 22:24] leoleovich commented on #222
Same for any request (curl localhost:8080/paths?query=servers.test.oleg.test.82)
[code]

[2016-07-31 13:13] ifesdjeen commented on #222
@leoleovich I've tried to run it once again.

Let's just make sure we're on same page: you run 3.4+, right?
Also, the first query you're running looks wrong to me as there are quotes around:

[code]
(`'` before `servers` and after `90`)

Other than that could you first try wildcard queries? Like `query=90`, since the rest looks o.k. both code-wise and functionality-wise.

[2016-07-31 13:34] leoleovich commented on #222
Moin @ifesdjeen.
The very first log (the big one) was running with query=*
[code]

[2016-07-31 13:47] ifesdjeen commented on #222
moin moin) What cassandra version are you running?
I've tried `curl localhost:8080/paths?query=*` and it does return results on both versions (also, for several installations that I'm aware of)...

[2016-07-31 13:55] leoleovich commented on #222
Sorry for delay, from mobile it is not that easy.
I am running 3.7 on Debian Jessie.

[2016-07-31 14:05] ifesdjeen commented on #222
TBH I can see no way for that to happen. I'd suggest running `make test` from the branch. I'm out of ideas :/

[2016-07-31 14:22] leoleovich commented on #222
Thank you, I will check it. The weirdest thing is - writing to cassandra goes completely fine. Reading from it behaves strange.

[2016-07-31 14:33] ifesdjeen commented on #222
Yes, that was the reason I asked about the version.. Also no exception also feels unsettling :( you can also ping me on IRC when you're near computer (same handle as here)

[2016-08-01 07:22] leoleovich commented on #222
Hello @ifesdjeen.
[code]
I looked into Makefile. Found `dev`
[code]

Insert
[code]

Check
[code]

select
[code]

I have no idea what else to check?
Java
[code]
Cassandra
[code]
Git
[code]

[2016-08-01 07:25] leoleovich commented on #222
Please, note, that cassandra and cyanite are on different hosts. No firewall in between.
Also, I have updated schema a bit to have RF=2
[code]
But in config I point cyanite to same node, on which I was executing query.

[2016-08-01 07:27] leoleovich commented on #222
[code]

[2016-08-01 07:33] leoleovich commented on #222
[code]

[2016-08-01 07:35] leoleovich commented on #222
To be honest I am not very familiar with Clojure, but I very wonder why I do not see this in output:
https://github.com/pyr/cyanite/blob/master/src/io/cyanite/query.clj#L36

[2016-08-01 08:59] ifesdjeen commented on #222
It doesn't look like you have problems with the metrics table, more with the paths table, since you can't fetch paths and without them you can't fetch metrics either.

Try running:

[code]

or even

[code]

to check the segments table.

As regards the debug statement, you won't see it because for that you'd have to have debug logging enabled. Cyanite uses [unilog](https://github.com/pyr/unilog), s

[2016-08-01 09:01] leoleovich commented on #222
[code]

[2016-08-01 09:03] leoleovich commented on #222
Actually, at least in config if cyanite, I have:
[code]

[2016-08-01 09:13] ifesdjeen commented on #222
Interesting, so looks like your segment index is empty. So either you cleaned it at some point or it was never written (both cases sound a bit weird).

Do you keep writing data into that cyanite instance or is it stale?..

[2016-08-01 09:19] leoleovich commented on #222
I dropped complete keyspace `metric`, then wrote for test few times in there via cyanite. That is it. Nothing else.
No matter how many metrics I write to cyanite, it never appears in segment talbe
[code]

[2016-08-01 09:24] ifesdjeen commented on #222
My config looks like that

[code]

Might be the index is picked up incorrectly...

[2016-08-01 09:31] leoleovich commented on #222
Yes, now I get metrics.
Now the good question where from I copied
[code]
And why default "agent" index did not work then...

[2016-08-01 09:54] ifesdjeen commented on #222
Default agent is deprecated. I'll check why it doesn't work though.

[2016-08-01 14:15] leoleovich commented on #222
@ifesdjeen which irc are you talking about? freenode.net?

[2016-08-01 14:21] ifesdjeen commented on #222
Yes, freenode..

[2016-08-07 11:37] ifesdjeen opened #223 "Create a loader for people migrating from graphite"
Currently, if one wants to migrate, they're on their own. I suggest we create a tool that helps to migrate any graphite installation to cyanite with ease.

[2016-08-07 12:30] ifesdjeen opened #224 "Include day into partition key"
Right now, we'll grow partitions indefinitely. We need to include some sort of `timestamp mod partition resolution` function and run functions against averaged partitions instead to improve performance and reduce partition sizes.

[2016-08-07 12:33] ifesdjeen opened #225 "Implement fixed-size batches for metrics"
We can prepare a certain amount of metrics into the batch and send them in packs to reduce an effort required for parsing and transmitting query string.

[2016-08-07 12:35] ifesdjeen opened #226 "Use unique sequenced id for metrics instead of full name"
A significant amount of our traffic is metric ids. Another workaround might be to use prepared statements with "hardcoded" metric id and transmit a prepared statement id instead of whole metric.

[2016-08-07 12:35] ifesdjeen opened #227 "Use DTCS instead of leveled compaction strategy"
To reduce amount of sstables, evaluate and switch to Date-Tiered Compaction Strategy.

[2016-08-10 18:50] tehlers320 opened #228 "Cyanite queries very slow under moderate load"
I am getting really slow response times and im not sure if this is normal or not
[code]

Queries direct to metrics are fine so this must be something with the paths feature

[code]

I don't think cassandra is the problem since all the latencys are very low on reads.

nodetool tablehistograms metric path

[code]
 nodetool tablehistograms metric segment

[code]
nodetool tablehistograms metric metric

[2016-08-10 18:53] tehlers320 commented on #228
The schema is copied right out of the docs.

[2016-08-10 21:46] ifesdjeen commented on #228
@tehlers320 did you build from the master?...

[2016-08-10 22:24] tehlers320 commented on #228
Yes, i have 2 builds i've tried this was master. I just moved over to the fix-wildcard-queries branch and dropped the keyspace.

[2016-08-14 11:19] ifesdjeen commented on #228
I think my latest commit to #216 should have improved / fixed the situation. For fully specified metrics we've been making a wildcard query with post-filtering. Sometimes on your dataset it may have resulted into fetching most of your dataset.

[2016-08-15 13:21] ifesdjeen commented on #225
implemented in #216

[2016-08-15 13:39] ifesdjeen opened #229 "Add Caffeine / LIRS cache for resolved paths"
It'd be great if we could avoid round-trips to Cassandra index for every dashboard query we do.

Thing is that when we're doing wildcard queries to dashboard, we keep hitting Cassandra SASI index for paths. Since even largest dashboard will be relatively small (say, hundreds of charts), the savings we have are outweighing the space we waste for cache significantly.

[2016-08-15 13:40] ifesdjeen commented on #222
This one was resolved. Cyanite configuration was incorrect.

[2016-08-15 13:40] #222 closed

[2016-08-15 13:41] ifesdjeen commented on #226
Duplicate of #208

[2016-08-15 13:41] #226 closed

[2016-08-15 13:42] ifesdjeen commented on #198
@Alexul it took a bit longer than we anticipated, but right now I'm working on docs and hope to release v1 by Cassandra Summit

[2016-08-15 13:42] ifesdjeen commented on #193
According to latest stress-tests this one is resolved

[2016-08-15 13:42] #193 closed

[2016-08-15 13:43] ifesdjeen commented on #197
Should be fixed as well. Will be improved further with caches.

[2016-08-15 13:43] #197 closed

[2016-08-15 14:06] ifesdjeen opened #230 "Graphite reporter seems to be leaking descriptors"

[2016-08-15 15:47] leoleovich commented on #222
@ifesdjeen yes, but because it was incorrect, it was using default agent. And this one was not working.... :)

[2016-08-15 15:59] ifesdjeen commented on #222
True, thanks for reminding @leoleovich !

[2016-08-15 16:05] ifesdjeen commented on #227
already covered in docs

[2016-08-15 16:05] #227 closed

[2016-08-15 20:17] fromanator opened #232 "Misuse of BATCH statements"
Looks like there was a recent change where you can [batch a group of writes](https://github.com/pyr/cyanite/blob/master/src/io/cyanite/store/cassandra.clj#L9) to Cassandra. Generally this is an anti-pattern and will result in slower write times, and potentially destabilize a cluster depending on the severity of abuse (in this case the batch size and how many partitions the writes would span).

Ins

[2016-08-15 20:38] ifesdjeen commented on #232
@fromanator it's configurable. You can always disable by setting batch size to 1, which will execute queries without batch statement.

In my experience, without load balancing client, all queries are sent to coordinator anyway, so this way we just reduce chatter and bandwidth.

I agree, however, that I should've used unlogged batch.

[2016-08-15 20:44] ifesdjeen commented on #232
We've discussed a related issue with @pyr and decided we'll go a bit different way and batch up / compact the data in a slightly different way. I'll roll back batches in a couple of days.

`UNLOGGED BATCH` won't work in our case, since in majority of cases we're writing to different partitions.

[2016-08-15 20:52] fromanator commented on #232
@ifesdjeen yeah if you are not using any load balancing at the client (like using token away with round robin) you would see some performance increases for relatively low batch sizes. However by doing so you are essentially off loading the client work to your coordinator node. If the batch sizes are relatively large, and span several partitions, then you can put a significant load on your coordina

[2016-08-15 20:55] ifesdjeen commented on #232
Async are arguably not the best way to do it. Queuing things is the most straightforward but not always the most performant way to do it, because of context switches (same data will be processed on a different thread) and cache off-loading etc. Unfortunately, currently we're not optimised for thread per core anyways.

As I mentioned, we'll just reduce amount of writes we need to do at all (also, c

[2016-08-16 06:32] Mortinke commented on #210
I am seeing the same issue with the latest [master](https://github.com/pyr/cyanite/commit/a255439eaeeebb8bc5dfe5506a4bcb56f22bfb1c) and cassandra 2.1.10 ([cqlsh 5.0.1 | Cassandra 2.1.10 | CQL spec 3.2.1 | Native protocol v3]).

The last version which works with cassandra 2.1.x that i found was the [commit](https://github.com/pyr/cyanite/tree/0b855b24acc7e9de85d0c6d3f3692183c03ea926).

In my opinio

[2016-08-16 06:52] ifesdjeen commented on #210
Cyanite only works with Cassandra `3.4` and upwards because of the custom indexes we're using.

[2016-08-16 06:55] #210 closed

[2016-08-16 17:08] tehlers320 commented on #228
have let this bake for a day or 2 now under 333k metrics per min load. Verfied fixed with the #216 fix and its additional commit.

[2016-08-16 17:08] #228 closed

[2016-08-16 17:14] ifesdjeen commented on #228
🎆

[2016-08-19 14:37] ehlerst opened #233 "feature request: metamonitoring"
It is difficult to gauge how well cyanite is working. We need queue sizes, drop metrics, recieved metrics stats preferably sent to carbon.cache.yadda

[2016-08-19 14:51] ifesdjeen commented on #233
Here's the list of available metrics, let me know if you think something is missing.

[code]

[2016-08-19 14:51] #233 closed

[2016-08-19 14:56] ifesdjeen commented on #233
Might be we need a little documentation. But most of metrics have to be more or less clear if one read the design doc...

Ah, I think I know what's the problem. I think they're not enabled by default. You have to send them with a graphite reporter to the self:

[code]

`internal` is the namespace, which is configurable.

[2016-08-19 20:20] ehlerst commented on #221
We are trying to get a POC off the ground that would handle 40 million per minute (what our current graphite is handling).  So far with the latest master we are not having much luck at all to even maintain our 333k metric per min test lab. I think we jumped in during a big change to cyanite removing the elasticsearch/in memory index. There is another post where somebody with 0.1.3 was pushing 15 m

[2016-08-19 20:31] ifesdjeen commented on #221
Just wondering, you handle 40M per minute (500k+) with a single graphite instance? @ehlerst

[2016-08-19 20:33] ehlerst commented on #221
No way, there are allot of graphite instances. The best we have is a single graphite server handling ~2 million.

[2016-08-19 20:34] ifesdjeen commented on #221
Right. Do you multiple Cyanite instances though?..

[2016-08-19 20:38] ehlerst commented on #221
Right now we have a reader and writer. However the writer never goes past 50% cpu usage so we havent looked at expanding to more. The funny thing is when you watch jvisualvm the heap is using only about 300mb of space at any given time. We are building a better way to see whats going on now. carbon-c-relay should show us better metrics on volume.

[2016-08-19 20:47] ifesdjeen commented on #230
My bad, that was nrepl :)

[2016-08-19 20:47] #230 closed

[2016-08-19 20:47] #225 closed

[2016-08-21 02:53] fromanator commented on #232
@ifesdjeen there are a couple of ways the writes could be optimized, but it requires some work on the client side to do. The general idea would be to group writes by the partition key, or a more involved method would be to group them by their token ranges.

Option 1 would involve sorting the data that you need to write by the partition key (e.g. the metric name) then group them all together for an

[2016-08-21 07:59] ifesdjeen commented on #232
Great, thanks for the details!

We decided to take more application/domain specific approach. Which would actually yield best performance in our case, as far as we can say.

Also #236 is merged, batches patch reverted.

[2016-08-21 07:59] #232 closed

[2016-08-30 16:10] jacobrichard opened #239 "Cyanite PID Hangs"
We have a stack sending around 300k metrics through a cyanite pid into cassandra. Running the latest copy of master performance seemed to have improved, but after being up for approximately 8 hours, the cyanite process seems to be frozen.

We have a carbon-c-relay sending to cyanite, and I see this in the carbon relay logs:
`[2016-08-30 11:55:47] (ERR) failed to write() to 127.0.0.1:2109: Resource

[2016-08-30 23:40] jacobrichard commented on #220
The above is a pull request that should allow just that. I'm no clojure developer, but it works in my testing.

[2016-09-01 14:38] ifesdjeen commented on #220
Sure, that's a great patch :) thank you

[2016-09-01 14:38] #220 closed

[2016-09-01 15:17] ifesdjeen opened #241 "Use Cassandra aggregates for aggregating"
I've made a trivial port of one of our functions (I have to say it doesn't have the date normalisation), which could be used as grounds for the further discussions to use Cassandra aggregates: https://gist.github.com/ifesdjeen/b8ca3a119d9c4b03853d85859de4ac7e

Obvious advantage is that we reduce the amount of data transferred between the nodes.

[2016-09-01 15:20] ifesdjeen commented on #239
Are you running from the latest Master? There was a problem with a ring buffer. It hangs on recursive dispatch and overflow. It's fixed by the one of outstanding PRs, although @tehlers320 reported it raises CPU pressure a lot. I've added a little fix (parking the thread) to avoid busy-spin and hope it'll help: https://github.com/pyr/cyanite/pull/237

The only downside is currently that new schedul

[2016-09-05 17:05] ifesdjeen commented on #239
Hey @jacobrichard just checking if the previous message went through.

[2016-09-08 18:16] jacobrichard commented on #239
Yes, sorry -- I'm going to pull in 237 and try running this overnight.

[2016-09-08 18:23] ifesdjeen commented on #239
👍

[2016-09-15 21:38] chrissnell commented on #5
+1 for this  :)

[2016-09-18 23:38] marchnikolai opened #243 "Typo in index.clj"
root@localhost:~/cyanite# git diff
`diff --git a/src/io/cyanite/index.clj b/src/io/cyanite/index.clj
index 6a9d48c..1b5c7ea 100644
--- a/src/io/cyanite/index.clj
+++ b/src/io/cyanite/index.clj
@@ -106,7 +106,7 @@
     {:path         path
      :text         (last (split path #"\."))
      :id           path
-     :allowChilren (if (some (partial < length) lengths) 1 0)
+     :allowChil**d**ren (if

[2016-09-19 06:31] ifesdjeen commented on #243
Thanks! Would you like to submit it in a form of a patch?

[2016-09-20 18:09] ehlerst commented on #241
I've been watching data transfer between regions with our test setup. It doesnt look that bad 3Mbit/sec but any reduction would be nice.

[2016-09-20 18:54] ifesdjeen commented on #241
I have a prototype of the (gorilla paper)[http://www.vldb.org/pvldb/vol8/p1816-teller.pdf] locally, which compressed data more than tenfold (which might be roughly a third in terms of throughput), I might be able to push it if you'd be willing to test...

[2016-09-20 20:36] tehlers320 commented on #241
Yes we will test.

[2016-09-20 21:30] ehlerst opened #244 "ability to use sum, min, max, and last"
Graphite allows

[code]

Perhaps something like this
[code]

[2016-09-21 06:16] ifesdjeen commented on #244
We have `sum`, `avg`, `min`, `max`. We aggregate them for all metrics. I'll implement `last` and come up with reasonable syntax for aggregation in config file.

[2016-09-21 15:02] ehlerst commented on #244
Oh, i see now. All metrics get aggregates. Hmm how does sum get selected when you make a query with graphite-api ?

[2016-09-21 15:15] ifesdjeen commented on #244
There's no way right now. Which is a bit stupid, but tbh we never got to do it, sorry.

[2016-09-21 15:58] tehlers320 commented on #244
Whats in the table for anybody else who reads this later:
[code]

I wonder if we could just put a &point=sum into the API to change these. That would require updates to the finder then as well to use.

On the other hand following the precedence graphite has set today regex is used to choose which aggregation you use \.count$ .  Im not sure how that would work. Feed the config a big regex config to

[2016-09-21 16:11] ifesdjeen commented on #244
You mean `benchmark.chunk_93.metric_3080.count.mean$` vs `benchmark.chunk_93.metric_3080.count.max$`?..

[2016-09-21 16:15] tehlers320 commented on #244
hmm no, most users arent going to have the ability to change their metric.

I mean the https://github.com/pyr/cyanite/blob/master/src/io/cyanite/api.clj#L131 does some regex based on a config to choose its point. Sorry if that's not the right place in the code, i'm Opsdev not Devops.

[2016-09-21 16:25] ifesdjeen commented on #244
I was thinking of doing it API-only.. So we'll expose 4 metrics on the bottom-most level (and more when there's more).

[2016-09-21 16:40] tehlers320 commented on #244
Ahh, so this would just show up as an extension of the graphite tree?  That sounds perfect other than the odd scenario of

`benchmark.chunk_93.metric_3080.max -> benchmark.chunk_93.metric_3080.max.max`

[2016-09-21 16:54] ifesdjeen commented on #244
After giving it another thought I came to conclusion it'll be simpler for any metric to have 5 metrics in fact:

  * `a.b.c.d`
  * `a.b.c.d_min`
  * `a.b.c.d_max`
  * `a.b.c.d_mean`
  * `a.b.c.d_sum`

They'll be showing up along with the rest of metrics in autocomplete.

[2016-09-22 15:22] tehlers320 commented on #244
Is this going to increase the table size x5, or are you doing some code.foo appending the _$ onto existing table entrys? 10 hours of 4.25 million metrics per minute with replica 2 will be ~14GB (confirmed in live install) . That's not so bad until you get into the longer storage ranges even with aggregates. With a 15m:365d aggregate the same amount should be around 266gb for the year.

That's 1.35

[2016-09-22 16:32] ifesdjeen commented on #244
They'll just be "virtual" metrics. They won't exist physically, we'll just map to them internally. Right now I'll just add support to allow you to access them. We're still working on compression stuff, unfortunately it's much more involved than implementing this feature.

[2016-09-23 20:59] jacobrichard commented on #239
I did quite a bit of load testing with that pull request and did not see a recurrence of the blocking. WIth a suitably large (~12G) heap configured, I was able to push two instances to around 4M metrics per minute.

I'm not sure why such a large heap is required, aside from the aggregation engine in cyanite needing to hold object references for a long time, thus preventing them from being GC'd. A

[2016-09-23 21:20] tehlers320 opened #246 "segment search regex leads to timeouts due to large return"
To reproduce
Grafana or graphite-api search:
`prod.us-west-2.collectd_metrics.*.*.disk-*.disk_ops.write`

Cyanite will query this:
`SELECT * from segment WHERE pos = 8 AND segment LIKE 'prod.us-west-2.collectd_metrics.%'  ALLOW FILTERING;`

This data contains many metrics that we do not need for this query for example:

`prod.us-west-2.collectd_metrics.caps-competition-api-web.9b95f0-ip-10-1-1-247

[2016-09-24 05:08] #243 closed

[2016-09-24 08:35] ifesdjeen commented on #239
I'd need co profile the heap, it's non-obvious for me why we need 12G. I assume for 40M per minute it comes down to roughly 66K per second, which means that in any given point in time we're holding 66K strings and as many 4 x `long` which is not _that_ much. There might be some overhead involved with the Atoms, since they wrap pretty much everything.

I'm going to profile on my own, although I do

[2016-09-24 08:41] ifesdjeen commented on #246
I'm afraid the query you mention will work even worse than the current implementation. What Cassandra does is it picks the most selective index and queries it, filtering out the rest of results, even if there are more indexes available.

Although after checking your query I've noticed two things:
1. We can use a different tokenizer (currently we're using the one that would just split results lette

[2016-09-26 18:10] ifesdjeen commented on #246
I've tested an alternative tokeniser and I have good news: we most likely will be able to (yet again) significantly improve the performance.

I'll still have to modify it to support `disk-*` form of queries, right now it only supports full segment skip (like `*`), but in general it turns out we still can improve.

[2016-10-03 19:21] ifesdjeen commented on #239
Fixed in latest master.

[2016-10-03 19:21] #239 closed

[2016-10-03 19:21] ifesdjeen commented on #244
Prototype ready in #248

[2016-10-03 19:31] ifesdjeen commented on #246
Tokeniser impl (prototype) can be found in #249.

[2016-10-03 21:30] tehlers320 commented on #246
I pulled in 248 and 249 to our test environment. Truncated my segment and metric table. Searching the tree seems snappy (but always does when i truncate). Will let it re-populate over a day or so. I am not able to retrieve metrics though.

our "query" host is spamming this:
[code]

[2016-10-04 05:17] ifesdjeen commented on #246
@tehlers320 do you have a full stack trace?..

[2016-10-05 21:02] ifesdjeen commented on #246
@tehlers320 I've found the reason and pushed the fix to #248. Was incorrect arity usage from my side...

[2016-10-07 08:12] pawellesniewski opened #250 "API is not starting up"
Hi there,
api of cyanite 0.5.1 version is not starting up in my case.

Before running cyanite (only cassandra 3.9 running on docker):
[code]

starting logs:
[code]

most interesting part of starting logs:
[code]

ingest port (2003:tcp) looks good:
[code]

even with a lot of memory:
[code]

Configuration file:
[code]

please help.

[2016-10-07 10:35] #250 closed

[2016-10-07 10:35] pawellesniewski commented on #250
The problem was with my java version.

[2016-10-07 11:52] ifesdjeen commented on #250
\o/ did you run 1.7 or 1.9?..

Thanks for posting your findings here!

[2016-10-07 12:05] sokratisg opened #251 "Old Gen constantly increasing"
We are currently evaluating Cyanite as our main carbon backend for production use.

Tried running latest releases which seems to deprecate Elasticsearch indexing in favor of Cassandra which actually seems pretty cool (one less dependency). All soakTest runs have been done using latest (master) release + Cassandra 3.0.7 (Datastax package).

Unfortunately it seems that we're on the same situation as

[2016-10-07 12:22] ifesdjeen commented on #251
We know installations that serve ~60K metrics per second on ingest side.

3.0.7 wouldn't really work with Cyanite as we require more recent Cassandra for index (starting with 3.5, with SASI) and in-memory index won't really work exactly due to the promotion problem you have described.

I assume you're running in-memory index, is that right?

[2016-10-07 18:15] jacobrichard commented on #246
I pulled in the #248 fix and pushed it into our environment. As @tehlers320 reported, the tree is snappy but now I'm seeing a different error when retrieving metrics.

`
ERROR [2016-10-07 18:12:30,789] epollEventLoopGroup-3-1 - io.cyanite.api could not process request
java.lang.IllegalArgumentException: Don't know how to create ISeq from: clojure.core$partial$fn__4759
	at clojure.lang.RT.seqFrom(R

[2016-10-07 18:21] ifesdjeen commented on #246
@jacobrichard thanks for catching this one. Could you tell me what kind of queries are you running?

[2016-10-07 18:22] jacobrichard commented on #246
This is just a metric retrieval from graphite-web. Specifically for one of the internal reporter metrics for cyanite:

cyanite.us-west-2.$hostname.cyanite.ingestq.events.count

[2016-10-07 19:26] ifesdjeen commented on #246
@jacobrichard @tehlers320 right it was my bad. My usual testing path did not include `graphite-web` (until now). I'll test more thoroughly with `graphite-web` from now on. It's fixed and force-pushed to #248.

For #248 i would not expect changes in performance yet (this is a job for #249), but I hope to finish both of them over this weekend.

[2016-10-10 15:34] sokratisg commented on #251
Actually sorry for the typo, I am testing Cyanite with Cassandra **3.7**.

Bellow is the cyanite configuration I've been using so far:
[code]

And here is how I start cyanite
[code]

[2016-10-10 16:14] ifesdjeen commented on #251
Thank you. Could you also tell me which branch / RSA you built your `0.5.1` jar from?

[2016-10-13 17:33] sokratisg commented on #251
[code]
Couldn't use the latest snapshot as it caused "Queue full" message instant on startup.

[2016-10-13 18:07] ifesdjeen commented on #251
"Queue full" messages on startup mostly mean that messages were dropped in order to avoid node crash, which only means you have to increase your queue size in config:

[code]

(or any larger power of two).

This would (usually) be enough to handle load of 10-20K events per second without building up too big of a backlog.

I agree default capacity is unreasonably small. Sorry about that, I'll fix t

[2016-10-16 11:39] Samaelson commented on #223
+1

[2016-10-18 14:57] sokratisg commented on #251
The stress test was run using soakTest which I think generates a lot of different metrics (or not?).
Can you confirm whether the test scenario was wrong compared to current code?

[2016-10-18 15:03] ifesdjeen commented on #251
I can't really confirm since I do not really know what the test scenario was...

[2016-10-20 07:11] sokratisg commented on #251
soakTest script included in your repo with varying mpm 10000-30000 but problem remained the same.

[2016-10-20 07:15] ifesdjeen commented on #251
Sorry, I can not reproduce the problem. We have instances running for weeks stably without OOM. You can use [flight recorder](http://www.oracle.com/technetwork/java/javaseproducts/mission-control/java-mission-control-1998576.html) to profile the heap and learn which objects are causing the problem.

But once again, if you're not running the latest master, I can't really help and/or debug on the di

[2016-10-21 11:58] pawellesniewski opened #252 "Cyanite gets stuck"
We have a problem running Cyanite for more than ~ one day. It gets stuck, i mean it receives metrics:

![cyanite-metrics](https://cloud.githubusercontent.com/assets/7325296/19597218/8b5b3648-9793-11e6-979b-f70e3006aba0.png)

around 1.3k metrics per second (different metrics, there could be a lot of new metrics every hour). But datapoints are no longer saved to cassandra, no new datapoints are avai

[2016-10-21 14:31] ifesdjeen commented on #252
"Queue full" messages on startup mostly mean that messages were dropped in order to avoid node crash, which only means you have to increase your queue size in config:

[code]

I'll change the default (which is way to low) today. Sorry about that.

[2016-10-21 14:43] pawellesniewski commented on #252
Hi @ifesdjeen , thanks for Your reply.

I have queue-capacity set to 2.000.000, i get this messages all the time but Cyanite hangs after several hours. Is this related with queue size?

[2016-10-21 14:53] ifesdjeen commented on #252
No, this is not normal at all. Which commit / RSA are you on? This sounds as if you're not running latest version, as we've already fixed the problem  you describe.

[2016-10-21 14:53] ifesdjeen commented on #252
Also, please note that config structure for queue has changed, it's not split into write and ingest queues anymore (if you're running latest master)

[2016-10-21 14:54] pawellesniewski commented on #252
[code]

build deb with lein tool.